[package]
name = "stress-test-generator"
version = "0.1.0"
authors.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
alloy = { workspace = true }
aws-config = { workspace = true }
aws-sdk-kms = { workspace = true }
alloy-primitives = { workspace = true }
anyhow = { workspace = true }
bigdecimal = { workspace = true }
bincode = { workspace = true }
clap = { workspace = true }
futures-util = { workspace = true }
hex = { workspace = true }
lru = { workspace = true }
prost = { workspace = true }
rand = { workspace = true }
rayon = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
sha3 = { workspace = true }
strum = { workspace = true }
rustls = { workspace = true }
sqlx = { workspace = true }
thiserror = { workspace = true }
tfhe = { workspace = true }
tfhe-versionable = { workspace = true }
tokio = { workspace = true }
tokio-util = { workspace = true }
tonic = { workspace = true }
bytesize = { workspace = true }
itertools = "0.13.0" # not in workspace
lazy_static = "1.5.0" # not in workspace
csv = "1.3.1" # not in workspace
futures = "0.3.31" # duplicate of futures-util, not in workspace
tracing = { workspace = true }
axum = { workspace = true }
uuid = "1" # not in workspace
tracing-subscriber = { workspace = true }
chrono = { version = "0.4.41", features = ["serde"] }


# local dependencies
fhevm-engine-common = { path = "../fhevm-engine-common" }
scheduler   = { path = "../scheduler" }
host-listener= { path = "../host-listener" }
test-harness  = { path = "../test-harness" }

[features]
nightly-avx512 = ["tfhe/nightly-avx512"]


[[bin]]
name = "stress_generator"
path = "src/bin/stress_generator.rs"

[profile.release]
opt-level = 3
lto = "fat"
