MNEMONIC="adapt mosquito move limb mobile illegal tree voyage juice mosquito burger raise father hope layer"
RPC_URL=""
SEPOLIA_ETH_RPC_URL=""
MAINNET_ETH_RPC_URL=""
RELAYER_URL=""
ZAMA_FHEVM_API_KEY=""
# Gateway
CHAIN_ID_GATEWAY="54321"
CHAIN_ID_HOST="12345"
INPUT_VERIFICATION_ADDRESS="0x35760912360E875DA50D40a74305575c23D55783"
DECRYPTION_ADDRESS="0xc9bAE822fE6793e3B456144AdB776D5A318CB71e"
# Host
ACL_CONTRACT_ADDRESS="0x05fD9B5EFE0a996095f42Ed7e77c390810CF660c"
KMS_VERIFIER_CONTRACT_ADDRESS="0xcCAe95fF1d11656358E782570dF0418F59fA40e1"
INPUT_VERIFIER_CONTRACT_ADDRESS="0xa1880e99d86F081E8D3868A8C4732C8f65dfdB11"
FHEVM_EXECUTOR_CONTRACT_ADDRESS="0x12B064FB845C1cc05e9493856a1D637a73e944bE"
TEST_INPUT_CONTRACT_ADDRESS=""

HARDHAT_NETWORK="staging"
