PRIVATE_KEY=
SEPOLIA_RPC_URL=
RPC_URL_ZAMA_GATEWAY_TESTNET=
RPC_URL_POLYGON_AMOY_TESTNET=
MAINNET_RPC_URL=
RPC_URL_ZAMA_GATEWAY_MAINNET=
RPC_URL_POLYGON_MAINNET=
ETHERSCAN_API=TA5XXXXXXXXXXXXXXXXXXXXXXXXXXXGX9 # Not needed for Blockscout verification
BLOCKSCOUT_API= # Explorer URL with the /api suffix
SAFE_PROXY_ADDRESS=
DAO_ADDRESS=