# Zama codeowners rules

# All pull request should be reviewed by at least one of the members of fhevm-devs
*    @zama-ai/fhevm-devs

/.github/workflows/	@zama-ai/fhevm-devops @zama-ai/fhevm-devs

# Gateway Team ownership
/gateway-contracts/ @zama-ai/fhevm-gateway
/host-contracts/ @zama-ai/fhevm-gateway
/library-solidity/ @zama-ai/fhevm-gateway
/kms-connector/ @zama-ai/mpc-devs @zama-ai/fhevm-gateway @dartdart26

# Coprocessor Team ownership
/coprocessor/ @zama-ai/fhevm-coprocessor
