# Zama codeowners rules

# All pull request should be reviewed by at least one of the members of fhevm-devs
*    @zama-ai/fhevm-devs

# All CI pull request should be reviewed by at least one of the members of fhevm-devops
/.github/workflows/*release.yml	@zama-ai/fhevm-devops

# Gateway Team ownership
/gateway-contracts/ @zama-ai/fhevm-gateway
/host-contracts/ @zama-ai/fhevm-gateway
/protocol-contracts/ @zama-ai/fhevm-gateway
/library-solidity/ @zama-ai/fhevm-gateway
/kms-connector/ @zama-ai/fhevm-gateway @dartdart26

# Coprocessor Team ownership
/coprocessor/ @zama-ai/fhevm-coprocessor
