services:

  kms-core:
    container_name: ${FHEVM_DOCKER_PROJECT:-fhevm}-kms-core
    image: ghcr.io/zama-ai/kms/core-service:${CORE_VERSION}
    env_file:
      - ../env/staging/.env.core.local
    entrypoint:
      - /bin/sh
      - -c
      - |
        set -e
        export AWS_ACCESS_KEY_ID=$$(cat /minio_secrets/access_key)
        export AWS_SECRET_ACCESS_KEY=$$(cat /minio_secrets/secret_key)
        echo '=================GENERATING SIGNING KEYS================='
        kms-gen-keys --public-storage s3 --public-s3-bucket "$$KMS_CORE__PUBLIC_VAULT__STORAGE__S3__BUCKET" --public-s3-prefix "$$KMS_CORE__PUBLIC_VAULT__STORAGE__S3__PREFIX" --aws-s3-endpoint "$$S3_ENDPOINT" --aws-region "$$S3_REGION" --private-storage file --private-file-path "$$KMS_CORE__PRIVATE_VAULT__STORAGE__FILE__PATH" --cmd signing-keys centralized
        echo '=================STARTING KMS SERVICE================='
        kms-server --config-file config/config.toml
    volumes:
      - minio_secrets:/minio_secrets
      - ../config/kms-core/config.toml:/app/kms/core/service/config/config.toml
    ports:
      - "${KMS_CORE_GRPC_PORT:-50051}:50051"
    healthcheck:
      test: ["CMD-SHELL", "wget -q -O /dev/null http://localhost:9646/metrics"]
      interval: 10s
      timeout: 5s
      retries: 6
      start_period: 20s

volumes:
  minio_secrets:
    name: ${FHEVM_DOCKER_PROJECT:-fhevm}_minio_secrets
    external: true
