services:
  db:
    container_name: ${FHEVM_DOCKER_PROJECT:-fhevm}-coprocessor-and-kms-db
    image: postgres:15.7
    restart: always
    command:
      - postgres
      - -c
      - max_connections=500
    env_file:
      - ../env/staging/.env.database.local
    ports:
      - '${DB_EXPOSE_PORT:-5432}:5432'
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 3
    volumes:
      - db:/var/lib/postgresql/data

volumes:
  db:
