services:
  gateway-node:
    container_name: fhevm-gateway-node
    image: ghcr.io/foundry-rs/foundry:v1.2.3
    env_file:
      - ../env/staging/.env.gateway.local
    entrypoint:
      - anvil
      - --block-time
      - "1"
      - --host
      - 0.0.0.0
      - --port
      - "8546"
      - --chain-id
      - "54321"
      - --accounts
      - "20"
      - --mnemonic
      - "${MNEMONIC}"
    ports:
      - "8546:8546"

  gateway-sc-deploy:
    container_name: fhevm-gateway-sc-deploy
    image: ghcr.io/zama-ai/fhevm/gateway-contracts:${GATEWAY_VERSION}
    build:
      context: ../../../gateway-contracts
      dockerfile: Dockerfile
      cache_from:
        - type=gha
      cache_to:
        - type=gha,mode=max
    env_file:
      - ../env/staging/.env.gateway.local
    command:
      - npx hardhat task:deployAllGatewayContracts
    depends_on:
      gateway-node:
        condition: service_started
    volumes:
      - addresses-volume:/app/addresses

  gateway-sc-add-network:
    container_name: fhevm-gateway-sc-add-network
    image: ghcr.io/zama-ai/fhevm/gateway-contracts:${GATEWAY_VERSION}
    build:
      context: ../../../gateway-contracts
      dockerfile: Dockerfile
      cache_from:
        - type=gha
      cache_to:
        - type=gha,mode=max
    env_file:
      - ../env/staging/.env.gateway.local
    command:
      - npx hardhat task:addHostChainsToGatewayConfig
    depends_on:
      gateway-node:
        condition: service_started
      gateway-sc-deploy:
        condition: service_completed_successfully
    # Addresses needs to be mounted even though we don't use them in the task because all contracts
    # are compiled, and most of them import these addresses.
    volumes:
      - addresses-volume:/app/addresses

volumes:
  addresses-volume: