services:
  gateway-sc-unpause:
    container_name: gateway-sc-unpause
    image: ghcr.io/zama-ai/fhevm/gateway-contracts:${GATEWAY_VERSION}
    build:
      context: ../../../gateway-contracts
      dockerfile: Dockerfile
      cache_from:
        - type=gha
      cache_to:
        - type=gha,mode=max
    env_file:
      - ../env/staging/.env.gateway-sc.local
    command:
      - npx hardhat compile && npx hardhat task:unpauseAllGatewayContracts
    volumes:
      - addresses-volume:/app/addresses  # workdir in gateway's Dockerfile is /app

volumes:
  addresses-volume:
