services:
  gateway-deploy-mocked-zama-oft:
    container_name: ${FHEVM_DOCKER_PROJECT:-fhevm}-gateway-deploy-mocked-zama-oft
    image: ghcr.io/zama-ai/fhevm/gateway-contracts:${GATEWAY_VERSION}
    build:
      context: ../../../gateway-contracts
      dockerfile: Dockerfile
      cache_from:
        - ${FHEVM_CACHE_FROM_GATEWAY_DEPLOY_MOCKED_ZAMA_OFT:-type=gha}
      cache_to:
        - ${FHEVM_CACHE_TO_GATEWAY_DEPLOY_MOCKED_ZAMA_OFT:-type=gha,mode=max}
    env_file:
      - ../env/staging/.env.gateway-mocked-payment.local
    command:
      - npx hardhat task:deployMockedZamaOFT


  gateway-set-relayer-mocked-payment:
    container_name: ${FHEVM_DOCKER_PROJECT:-fhevm}-gateway-set-relayer-mocked-payment
    image: ghcr.io/zama-ai/fhevm/gateway-contracts:${GATEWAY_VERSION}
    build:
      context: ../../../gateway-contracts
      dockerfile: Dockerfile
      cache_from:
        - ${FHEVM_CACHE_FROM_GATEWAY_SET_RELAYER_MOCKED_PAYMENT:-type=gha}
      cache_to:
        - ${FHEVM_CACHE_TO_GATEWAY_SET_RELAYER_MOCKED_PAYMENT:-type=gha,mode=max}
    env_file:
      - ../env/staging/.env.gateway-mocked-payment.local
    command:
      - npx hardhat task:setTxSenderMockedPayment
    depends_on:
      gateway-deploy-mocked-zama-oft:
        condition: service_completed_successfully