services:
  gateway-node:
    container_name: fhevm-gateway-node
    image: ghcr.io/foundry-rs/foundry:v1.2.3
    env_file:
      - ../env/staging/.env.gateway-node.local
    entrypoint:
      - anvil
      - --block-time
      - "1"
      - --host
      - 0.0.0.0
      - --port
      - "8546"
      - --chain-id
      - "54321"
      - --accounts
      - "20"
      - --mnemonic
      - "${MNEMONIC}"
    ports:
      - "8546:8546"
