services:
  gateway-node:
    container_name: ${FHEVM_DOCKER_PROJECT:-fhevm}-gateway-node
    image: ghcr.io/foundry-rs/foundry:v1.3.5
    env_file:
      - ../env/staging/.env.gateway-node.local
    entrypoint:
      - anvil
      - --block-time
      - "1"
      - --host
      - 0.0.0.0
      - --port
      - "8546"
      - --chain-id
      - "54321"
      - --accounts
      - "20"
      - --mnemonic
      - "${MNEMONIC}"
    ports:
      - "${GATEWAY_NODE_RPC_PORT:-8546}:8546"
