services:
  gateway-sc-pause:
    container_name: gateway-sc-pause
    image: ghcr.io/zama-ai/fhevm/gateway-contracts:${GATEWAY_VERSION}
    build:
      context: ../../../gateway-contracts
      dockerfile: Dockerfile
      cache_from:
        - ${FHEVM_CACHE_FROM:-type=gha}
      cache_to:
        - ${FHEVM_CACHE_TO:-type=gha,mode=max}
    env_file:
      - ../env/staging/.env.gateway-sc.local
    command:
      - npx hardhat compile && npx hardhat task:pauseAllGatewayContracts
    volumes:
      - addresses-volume:/app/addresses  # workdir in gateway's Dockerfile is /app

volumes:
  addresses-volume:
