services:
  host-sc-deploy:
    container_name: host-sc-deploy
    image: ghcr.io/zama-ai/fhevm/host-contracts:${HOST_VERSION}
    build:
      context: ../../../host-contracts
      dockerfile: Dockerfile
      cache_from:
        - type=gha
      cache_to:
        - type=gha,mode=max
    env_file:
      - ../env/staging/.env.host-sc.local
    command:
      - npx hardhat task:deployAllHostContracts
