services:
  host-sc-unpause:
    container_name: host-sc-unpause
    image: ghcr.io/zama-ai/fhevm/host-contracts:${HOST_VERSION}
    build:
      context: ../../../host-contracts
      dockerfile: Dockerfile
      cache_from:
        - type=gha
      cache_to:
        - type=gha,mode=max
    env_file:
      - ../env/staging/.env.host-sc.local
    command:
      - npx hardhat compile && npx hardhat task:unpauseACL
    volumes:
      - addresses-volume:/app/addresses  # workdir in host's Dockerfile is /app

volumes:
  addresses-volume:
