services:

  test-suite-e2e-debug:
    container_name: fhevm-test-suite-e2e-debug
    image: ghcr.io/zama-ai/fhevm/test-suite/e2e:${TEST_SUITE_VERSION}
    build:
      context: ../../.. # root directory of the repository
      dockerfile: test-suite/e2e/Dockerfile
      cache_from:
        - ${FHEVM_CACHE_FROM:-type=gha}
      cache_to:
        - ${FHEVM_CACHE_TO:-type=gha,mode=max}
    env_file:
      - ../env/staging/.env.test-suite.local
    command:
      - tail -f /dev/null
