services:

  test-suite-e2e-debug:
    container_name: fhevm-test-suite-e2e-debug
    image: ghcr.io/zama-ai/fhevm/test-suite/e2e:${TEST_SUITE_VERSION}
    ## DO NOT BUILD A LOCAL VERSION, IMAGE SHOULD COME FROM THE BUILD WORKFLOW
    # build:
    #   context: ../../.. # root directory of the repository
    #   dockerfile: test-suite/e2e/Dockerfile
    #   cache_from:
    #     - type=gha
    #   cache_to:
    #     - type=gha,mode=max
    env_file:
      - ../env/staging/.env.test-suite.local
    command:
      - tail -f /dev/null
