# To be run manually for now, designed for local testing only:
# cd test-suite/fhevm && docker compose -f docker-compose/tracing-docker-compose.yml up -d

services:
  prometheus:
    container_name: ${FHEVM_DOCKER_PROJECT:-fhevm}-prometheus
    image: prom/prometheus:v2.53.5
    ports:
      - "${PROMETHEUS_PORT:-9090}:9090"
    volumes:
      - ../config/prometheus:/etc/prometheus
      - prom_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'

  jaeger:
    container_name: ${FHEVM_DOCKER_PROJECT:-fhevm}-jaeger
    image: cr.jaegertracing.io/jaegertracing/jaeger:2.8.0
    # image: jaegertracing/all-in-one:latest
    environment:
      - COLLECTOR_ZIPKIN_HOST_PORT=:9411
      - COLLECTOR_OTLP_ENABLED=true
    ports:
      - "${JAEGER_UDP_6831_PORT:-6831}:6831/udp"
      - "${JAEGER_UDP_6832_PORT:-6832}:6832/udp"
      - "${JAEGER_5778_PORT:-5778}:5778"
      - "${JAEGER_QUERY_PORT:-16686}:16686"
      - "${JAEGER_OTLP_GRPC_PORT:-4317}:4317"
      - "${JAEGER_OTLP_HTTP_PORT:-4318}:4318"
      - "${JAEGER_14250_PORT:-14250}:14250"
      - "${JAEGER_14268_PORT:-14268}:14268"
      - "${JAEGER_14269_PORT:-14269}:14269"
      - "${JAEGER_ZIPKIN_PORT:-9411}:9411"

volumes:
  prom_data:

networks:
  default:
    name: ${FHEVM_DOCKER_PROJECT:-fhevm}_default
