PRIVATE_KEY=
SEPOLIA_RPC_URL=
RPC_URL_ZAMA_GATEWAY_TESTNET=
MAINNET_RPC_URL=
RPC_URL_ZAMA_GATEWAY_MAINNET=
ETHERSCAN_API=TA5XXXXXXXXXXXXXXXXXXXXXXXXXXXGX9
BLOCKSCOUT_API=https://explorer-xxxx-xxxxxxx.conduit.xyz/api # don't forget the /api suffix at the end
SAFE_PROXY_ADDRESS=
DAO_ADDRESS=