PRIVATE_KEY=
SEPOLIA_RPC_URL=
RPC_URL_ZAMA_GATEWAY_TESTNET=
ETHERSCAN_API=TA5XXXXXXXXXXXXXXXXXXXXXXXXXXXGX9
BLOCKSCOUT_API=https://explorer-xxxx-xxxxxxx.conduit.xyz/api # don't forget the /api suffix at the end