# Chain ID
export CHAIN_ID="123456"

# Default mnemonic for local gateway L2
export MNEMONIC="adapt mosquito move limb mobile illegal tree voyage juice mosquito burger raise father hope layer"

# Get addresses and public keys by running `make get-accounts`
# Deployer
export DEPLOYER_PRIVATE_KEY="0x7697c90f7863e6057fbe25674464e14b57f2c670b1a8ee0f60fb87eb9b615c4d" # accounts[5]

# Protocol
export PROTOCOL_NAME="Gateway Layer 2"
export PROTOCOL_WEBSITE=""

# Admins
# The number of admins must be lower or equal to the number of admins' metadata defined below
export NUM_ADMINS="1"

# Admin 1
export ADMIN_ADDRESS_0="0x03734276e8f8ab253ff4295e66228DAC936FF5b8" # accounts[6]

# KMS Threshold
# The KMS threshold must verify `0 <= 3t < n` where `n` is the number of KMS nodes defined below (here, 4).
# For now, we set it as `t=(n-1)/3`
export KMS_THRESHOLD="1"

# KMS Nodes
# The number of KMS nodes must be lower or equal to the number of KMS nodes' metadata defined below
export NUM_KMS_NODES="4"

# KMS node addresses are the KMS connector's addresses
# KMS node identities are the KMS node's public signature key

# KMS Node 1
export KMS_NODE_ADDRESS_0="0x9FE8958A2920985AC7ab8d320fDFaB310135a05B" # accounts[7]
export KMS_NODE_IDENTITY_0="0x0000000000000000000000000000000000000000"
export KMS_NODE_IP_ADDRESS_0=""
export KMS_NODE_DA_URL_0="https://da.com"

# KMS Node 2
export KMS_NODE_ADDRESS_1="0x466f26442DD182C9A1b018Cd06671F9791DdE8Ef" # accounts[8]
export KMS_NODE_IDENTITY_1="0x0000000000000000000000000000000000000000"
export KMS_NODE_IP_ADDRESS_1=""
export KMS_NODE_DA_URL_1="https://da.com"

# KMS Node 3
export KMS_NODE_ADDRESS_2="0xc45994e4098271c3140117ebD5c74C70dd56D9cd" # accounts[9]
export KMS_NODE_IDENTITY_2="0x0000000000000000000000000000000000000000"
export KMS_NODE_IP_ADDRESS_2=""
export KMS_NODE_DA_URL_2="https://da.com"

# KMS Node 4
export KMS_NODE_ADDRESS_3="0xDb216ECeC4cEd51CdfD9609b6Ce7653aB04f6cAd" # accounts[10]
export KMS_NODE_IDENTITY_3="0x0000000000000000000000000000000000000000"
export KMS_NODE_IP_ADDRESS_3=""
export KMS_NODE_DA_URL_3="https://da.com"

# Coprocessors
# The number of coprocessors must be lower or equal to the number of coprocessors' metadata defined below
export NUM_COPROCESSORS="3"

# Coprocessor addresses are the transaction senders' addresses
# Coprocessor identity is the coprocessor's public signature key

# Coprocessor 1
export COPROCESSOR_ADDRESS_0="0x6518D50aDc9036Df37119eA465a8159E34417E2E" # accounts[11]
export COPROCESSOR_IDENTITY_0="0x0000000000000000000000000000000000000000"
export COPROCESSOR_DA_URL_0="https://da.com"
export COPROCESSOR_S3_BUCKET_URL_0="s3://bucket"

# Coprocessor 2
export COPROCESSOR_ADDRESS_1="0xa5eE8292dA52d8234248709F3E217ffEBA5E8312" # accounts[12]
export COPROCESSOR_IDENTITY_1="0x0000000000000000000000000000000000000000"
export COPROCESSOR_DA_URL_1="https://da.com"
export COPROCESSOR_S3_BUCKET_URL_1="s3://bucket"

# Coprocessor 3
export COPROCESSOR_ADDRESS_2="0xCFbF539CB91c92ace0343c5B0487149Ad0b82078" # accounts[13]
export COPROCESSOR_IDENTITY_2="0x0000000000000000000000000000000000000000"
export COPROCESSOR_DA_URL_2="https://da.com"
export COPROCESSOR_S3_BUCKET_URL_2="s3://bucket"

# Networks
# The number of networks must be lower or equal to the number of networks' metadata defined below
export NUM_NETWORKS="1"

# Network 1
export NETWORK_CHAIN_ID_0="0"
export NETWORK_HTTPZ_EXECUTOR_0="0x0000000000000000000000000000000000000000"
export NETWORK_ACL_ADDRESS_0="0x0000000000000000000000000000000000000000"
export NETWORK_NAME_0="Layer 1 Network"
export NETWORK_WEBSITE_0=""

# FHE Parameters
export FHE_PARAMS_NAME="TEST"
export FHE_PARAMS_DIGEST="0x0000000000000000000000000000000000000000000000000000000000000000"
