[submodule "apps/relayer/fhevm-relayer"]
	path = apps/relayer/fhevm-relayer
	url = git@github.com:zama-ai/fhevm-relayer.git
	branch = main

[submodule "external/fhevm"]
	path = external/fhevm
	url = git@github.com:zama-ai/fhevm.git
	branch = main
