# Logs
logs
*.log

# Coverage
coverage
*.lcov

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.env*.local

# Editor directories and files
.vscode
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# docker pg data
volume/

*rustc-ice*

.obsidian
