PAUSER_SET_ETHEREUM="0xbBfE1680b4a63ED05f7F80CE330BED7C992A586C"
PAUSER_SET_GATEWAY="0x571ecb596fCc5c840DA35CbeCA175580db50ac1b"
RPC_ETHEREUM="https://ethereum-rpc.publicnode.com"
RPC_GATEWAY="https://rpc.mainnet.zama.org"