SEPOLIA_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
DEVNET_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
POLYGON_AMOY_RPC_URL=https://rpc-amoy.polygon.technology
ZAMA_FHEVM_API_KEY=
PRIVATE_KEY=0xYOUR_PRIVATE_KEY
MNEMONIC=
DELEGATOR_PRIVATE_KEY=0xANOTHER_PRIVATE_KEY
DELEGATOR_MNEMONIC=
