prometheus-sql-exporter:
  replicaCount: 1

  image:
    repository: ghcr.io/justwatchcom/sql_exporter
    tag: "v0.9"

  serviceMonitor:
    enabled: true
    interval: 30s

  extraEnvs:
    - name: DATABASE_ENDPOINT
      valueFrom:
        secretKeyRef:
          name: database-credentials
          key: endpoint
    - name: DATABASE_USERNAME
      valueFrom:
        secretKeyRef:
          name: database-credentials
          key: username
    - name: DATABASE_PASSWORD
      valueFrom:
        secretKeyRef:
          name: database-credentials
          key: password
    - name: DATABASE_NAME
      value: "coprocessor"
  extraVolumes:
    - name: custom-config
      configMap:
        name: coprocessor-sql-exporter-config
  extraVolumeMounts:
    - name: custom-config
      mountPath: /custom-config.yml
      subPath: config
  configFilePath: "/custom-config.yml"
