.anchor
node_modules
.env
coverage
coverage.json
target
typechain
typechain-types

# Hardhat files
cache
artifacts


# LayerZero specific files
.layerzero

# foundry test compilation files
out

# pnpm
pnpm-error.log

# Editor and OS files
.DS_Store
.idea

layerzero.config.ts
ethereum-wiring.json
aragonProposal.json
deployments/solana-testnet/
deployments/solana-mainnet/
