PRIVATE_KEY=
ETHERSCAN_API_KEY=

# Mainnet
MAINNET_RPC_URL=
# Testnet
SEPOLIA_RPC_URL=

# ----------------------------------------------------------------------------
# ProtocolStaking deployment
# ----------------------------------------------------------------------------
# Address of the underlying staking ERC20
ZAMA_TOKEN_ADDRESS=0x0000000000000000000000000000000000000001

# Address of the governance DAO
DAO_ADDRESS=0x70997970C51812dc3A010C7d01b50e0d17dc79C8 # accounts[1] (address)

# ----------------------------------------------------------------------------
# Coprocessor
# ----------------------------------------------------------------------------
PROTOCOL_STAKING_COPRO_TOKEN_NAME=ProtocolStakingCoprocessor
PROTOCOL_STAKING_COPRO_TOKEN_SYMBOL=stZAMAfhe
PROTOCOL_STAKING_COPRO_VERSION=1

# Cooldown period in seconds before unstaked tokens can be released
PROTOCOL_STAKING_COPRO_COOLDOWN_PERIOD=604800 # 7 days

# ----------------------------------------------------------------------------
# KMS
# ----------------------------------------------------------------------------
PROTOCOL_STAKING_KMS_TOKEN_NAME=ProtocolStakingKMS
PROTOCOL_STAKING_KMS_TOKEN_SYMBOL=stZAMAkms
PROTOCOL_STAKING_KMS_VERSION=1

# Cooldown period in seconds before unstaked tokens can be released
PROTOCOL_STAKING_KMS_COOLDOWN_PERIOD=604800 # 7 days

# ----------------------------------------------------------------------------
# OperatorStaking deployment
# ----------------------------------------------------------------------------
# ----------------------------------------------------------------------------
# Coprocessor
# ----------------------------------------------------------------------------
# The number of OperatorStaking for coprocessors must be lower or equal to the number of addresses defined below
NUM_OPERATOR_STAKING_COPRO=2

# OperatorStaking coprocessor 1
OPERATOR_STAKING_COPRO_TOKEN_NAME_0="OperatorStakingCopro1"
OPERATOR_STAKING_COPRO_TOKEN_SYMBOL_0="stZAMAcopro1"
OPERATOR_STAKING_COPRO_OWNER_ADDRESS_0="0x3C44CdDdB6a900fa2b585dd299e03d12FA4293BC"  # accounts[2] (address)

# OperatorStaking coprocessor 2
OPERATOR_STAKING_COPRO_TOKEN_NAME_1="OperatorStakingCopro2"
OPERATOR_STAKING_COPRO_TOKEN_SYMBOL_1="stZAMAcopro2"
OPERATOR_STAKING_COPRO_OWNER_ADDRESS_1="0x90F79bf6EB2c4f870365E785982E1f101E93b906"  # accounts[3] (address)


# ----------------------------------------------------------------------------
# KMS
# ----------------------------------------------------------------------------
# The number of OperatorStaking for KMS must be lower or equal to the number of addresses defined below
NUM_OPERATOR_STAKING_KMS=3

# OperatorStaking KMS 1
OPERATOR_STAKING_KMS_TOKEN_NAME_0="OperatorStakingKms1"
OPERATOR_STAKING_KMS_TOKEN_SYMBOL_0="stZAMAkms1"
OPERATOR_STAKING_KMS_OWNER_ADDRESS_0="0x3C44CdDdB6a900fa2b585dd299e03d12FA4293BC"  # accounts[2] (address)

# OperatorStaking KMS 2
OPERATOR_STAKING_KMS_TOKEN_NAME_1="OperatorStakingKms2"
OPERATOR_STAKING_KMS_TOKEN_SYMBOL_1="stZAMAkms2"
OPERATOR_STAKING_KMS_OWNER_ADDRESS_1="0x90F79bf6EB2c4f870365E785982E1f101E93b906"  # accounts[3] (address)

# OperatorStaking KMS 3
OPERATOR_STAKING_KMS_TOKEN_NAME_1="OperatorStakingKms3"
OPERATOR_STAKING_KMS_TOKEN_SYMBOL_1="stZAMAkms3"
OPERATOR_STAKING_KMS_OWNER_ADDRESS_1="0x15d34AAf54267DB7D7c367839AAf71A00a2C6A65"  # accounts[4] (address)

# ----------------------------------------------------------------------------
# Post-deployment configuration
# ----------------------------------------------------------------------------
# ProtocolStaking initial reward rate
# Note: The reward rate is in tokens (using 18 decimals) per second
PROTOCOL_STAKING_REWARD_RATE=1000000000

# OperatorRewarder initial owner fee
# Note: The owner fee is in basis points (in 1/100th of a percent, so 10000 = 100.00%)
OPERATOR_REWARDER_OWNER_FEE=2000