PRIVATE_KEY=
ETHERSCAN_API_KEY=

# Mainnet
MAINNET_RPC_URL=
# Testnet
SEPOLIA_RPC_URL=

# ----------------------------------------------------------------------------
# ProtocolStaking deployment and configuration
# ----------------------------------------------------------------------------
# Address of the underlying staking ERC20
ZAMA_TOKEN_ADDRESS=0x5FbDB2315678afecb367f032d93F642f64180aa3

# Address of the governance DAO
DAO_ADDRESS=0x70997970C51812dc3A010C7d01b50e0d17dc79C8 # accounts[1] (address)

# ----------------------------------------------------------------------------
# Coprocessor
# ----------------------------------------------------------------------------
PROTOCOL_STAKING_COPRO_TOKEN_NAME=ProtocolStakingCoprocessors
PROTOCOL_STAKING_COPRO_TOKEN_SYMBOL=stZAMAcoprocessors
PROTOCOL_STAKING_COPRO_VERSION=1

# Cooldown period in seconds before unstaked tokens can be released
PROTOCOL_STAKING_COPRO_COOLDOWN_PERIOD=604800 # 7 days

# Initial reward rate
# Note: The reward rate is in tokens (using 18 decimals) per second
PROTOCOL_STAKING_COPRO_REWARD_RATE=10000000000000000

# ----------------------------------------------------------------------------
# KMS
# ----------------------------------------------------------------------------
PROTOCOL_STAKING_KMS_TOKEN_NAME=ProtocolStakingKMS
PROTOCOL_STAKING_KMS_TOKEN_SYMBOL=stZAMAkms
PROTOCOL_STAKING_KMS_VERSION=1

# Cooldown period in seconds before unstaked tokens can be released
PROTOCOL_STAKING_KMS_COOLDOWN_PERIOD=604800 # 7 days

# Initial reward rate
# Note: The reward rate is in tokens (using 18 decimals) per second
PROTOCOL_STAKING_KMS_REWARD_RATE=10000000000000000

# ----------------------------------------------------------------------------
# OperatorStaking deployment and configuration 
# ----------------------------------------------------------------------------
# ----------------------------------------------------------------------------
# Coprocessor
# ----------------------------------------------------------------------------
# The number of OperatorStaking for coprocessors must be equal to the number of addresses defined below
NUM_OPERATOR_STAKING_COPRO=2

# OperatorStaking coprocessor 1
OPERATOR_STAKING_COPRO_TOKEN_NAME_0="OperatorStakingCopro1"
OPERATOR_STAKING_COPRO_TOKEN_SYMBOL_0="stZAMAcopro1"
OPERATOR_STAKING_COPRO_OWNER_ADDRESS_0="0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266"  # accounts[0] (address)

# Initial assets (in the smallest unit of $ZAMA, using 10^18 decimals) and receiver
OPERATOR_STAKING_COPRO_INITIAL_DEPOSIT_ASSETS_0=100000000000000000000000
OPERATOR_STAKING_COPRO_INITIAL_DEPOSIT_RECEIVER_0="0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266"  # accounts[0] (address)

# OperatorRewarder coprocessor 1
# Initial owner fee
# Note: The owner fee is in basis points (in 1/100th of a percent, so 10000 = 100.00%)
OPERATOR_REWARDER_COPRO_OWNER_FEE_0=2000

# OperatorStaking coprocessor 2
OPERATOR_STAKING_COPRO_TOKEN_NAME_1="OperatorStakingCopro2"
OPERATOR_STAKING_COPRO_TOKEN_SYMBOL_1="stZAMAcopro2"
OPERATOR_STAKING_COPRO_OWNER_ADDRESS_1="0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266"  # accounts[0] (address)

# Initial assets (in the smallest unit of $ZAMA, using 10^18 decimals) and receiver
OPERATOR_STAKING_COPRO_INITIAL_DEPOSIT_ASSETS_1=250000000000000000000000
OPERATOR_STAKING_COPRO_INITIAL_DEPOSIT_RECEIVER_1="0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266"  # accounts[0] (address)

# OperatorRewarder coprocessor 2
# Initial owner fee
# Note: The owner fee is in basis points (in 1/100th of a percent, so 10000 = 100.00%)
OPERATOR_REWARDER_COPRO_OWNER_FEE_1=1000

# ----------------------------------------------------------------------------
# KMS
# ----------------------------------------------------------------------------
# The number of OperatorStaking for KMS must be equal to the number of addresses defined below
NUM_OPERATOR_STAKING_KMS=3

# OperatorStaking KMS 1
OPERATOR_STAKING_KMS_TOKEN_NAME_0="OperatorStakingKms1"
OPERATOR_STAKING_KMS_TOKEN_SYMBOL_0="stZAMAkms1"
OPERATOR_STAKING_KMS_OWNER_ADDRESS_0="0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266"  # accounts[0] (address)

# Initial assets (in the smallest unit of $ZAMA, using 10^18 decimals) and receiver
OPERATOR_STAKING_KMS_INITIAL_DEPOSIT_ASSETS_0=500000000000000000000000
OPERATOR_STAKING_KMS_INITIAL_DEPOSIT_RECEIVER_0="0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266"  # accounts[0] (address)

# OperatorRewarder KMS 1
# Initial owner fee
# Note: The owner fee is in basis points (in 1/100th of a percent, so 10000 = 100.00%)
OPERATOR_REWARDER_KMS_OWNER_FEE_0=1500

# OperatorStaking KMS 2
OPERATOR_STAKING_KMS_TOKEN_NAME_1="OperatorStakingKms2"
OPERATOR_STAKING_KMS_TOKEN_SYMBOL_1="stZAMAkms2"
OPERATOR_STAKING_KMS_OWNER_ADDRESS_1="0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266"  # accounts[0] (address)

# Initial assets (in the smallest unit of $ZAMA, using 10^18 decimals) and receiver
OPERATOR_STAKING_KMS_INITIAL_DEPOSIT_ASSETS_1=750000000000000000000000
OPERATOR_STAKING_KMS_INITIAL_DEPOSIT_RECEIVER_1="0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266"  # accounts[0] (address)

# OperatorRewarder KMS 2
# Initial owner fee
# Note: The owner fee is in basis points (in 1/100th of a percent, so 10000 = 100.00%)
OPERATOR_REWARDER_KMS_OWNER_FEE_1=1000

# OperatorStaking KMS 3
OPERATOR_STAKING_KMS_TOKEN_NAME_2="OperatorStakingKms3"
OPERATOR_STAKING_KMS_TOKEN_SYMBOL_2="stZAMAkms3"
OPERATOR_STAKING_KMS_OWNER_ADDRESS_2="0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266"  # accounts[0] (address)

# Initial assets (in the smallest unit of $ZAMA, using 10^18 decimals) and receiver
OPERATOR_STAKING_KMS_INITIAL_DEPOSIT_ASSETS_2=1000000000000000000000000
OPERATOR_STAKING_KMS_INITIAL_DEPOSIT_RECEIVER_2="0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266"  # accounts[0] (address)

# OperatorRewarder KMS 3
# Initial owner fee
# Note: The owner fee is in basis points (in 1/100th of a percent, so 10000 = 100.00%)
OPERATOR_REWARDER_KMS_OWNER_FEE_2=500
