<%- include('partials/start') -%>
      <%- include('partials/header', { title: 'Zama Console Password Reset Request' }) -%>
      <div class="content">
        <p>
          We received a request to reset the password for an account associated
          with this email address.
        </p>
        <p>To reset your password, please click the link below:</p>
      </div>
      <%- include('partials/button', { href: frontendUrl + 'reset-password/' + token, text: 'Reset Password' }) -%>

      <div class="content">
        <p>
          If you did not request a password reset, please ignore this message.
          This link will expire in 24 hours for your security.
        </p>
      </div>
<%- include('partials/end') -%>