# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# the following team members will be requested for review when 
# someone opens a pull request.
*       @jatZama
*       @isaacdecoded
*       @romanbredehoft

# Order is important; the last matching pattern takes the most
# precedence.

# Optional ownership of marketing-products over the docs
# **/docs    @marketing-products

# Teams can be specified as code owners as well. Teams should
# be identified in the format @org/team-name. Teams must have
# explicit write access to the repository. In this example,
# the @kms-devops team owns all .txt files.
.github/workflows @fhevm-devops