# Authentication (use one of these)
MNEMONIC=
PRIVATE_KEY=

# RPC URLs
MAINNET_RPC_URL=
SEPOLIA_RPC_URL=

# API Keys
ETHERSCAN_API_KEY=

# Gas Reporter
REPORT_GAS=false

# ----------------------------------------------------------------------------
# ConfidentialWrapper deployment
# ----------------------------------------------------------------------------

NUM_CONFIDENTIAL_WRAPPERS=1

# Confidential Wrapper 1
CONFIDENTIAL_WRAPPER_NAME_0="Wrapper 1"  # (string)
CONFIDENTIAL_WRAPPER_SYMBOL_0="cTKN1"  # (string)
CONFIDENTIAL_WRAPPER_CONTRACT_URI_0="https://confidential-wrapper-1.com"  # (string)
CONFIDENTIAL_WRAPPER_UNDERLYING_ADDRESS_0=0x0000111122223333444455556666777788889999  # (address)
CONFIDENTIAL_WRAPPER_OWNER_ADDRESS_0=0x70997970C51812dc3A010C7d01b50e0d17dc79C8  # accounts[1] (address)

# Confidential Wrapper 1
CONFIDENTIAL_WRAPPER_NAME_0="Wrapper 2"  # (string)
CONFIDENTIAL_WRAPPER_SYMBOL_0="cTKN2"  # (string)
CONFIDENTIAL_WRAPPER_CONTRACT_URI_0="https://confidential-wrapper-2.com"  # (string)
CONFIDENTIAL_WRAPPER_UNDERLYING_ADDRESS_0=0x0000111122223333444455556666777788889999  # (address)
CONFIDENTIAL_WRAPPER_OWNER_ADDRESS_0=0x3C44CdDdB6a900fa2b585dd299e03d12FA4293BC  # accounts[2] (address)
