[package]
name = "connector-utils"
authors.workspace = true
edition.workspace = true
license.workspace = true
publish.workspace = true
version.workspace = true

[dependencies]
fhevm_gateway_rust_bindings.workspace = true
kms-grpc.workspace = true
tfhe.workspace = true

alloy.workspace = true
anyhow.workspace = true
bincode.workspace = true
clap.workspace = true
config.workspace = true
serde.workspace = true
sqlx.workspace = true
thiserror.workspace = true
tokio.workspace = true
tokio-util.workspace = true
tonic.workspace = true
tracing.workspace = true

[dev-dependencies]
serial_test.workspace = true
tempfile.workspace = true
toml.workspace = true
