{
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": false,
    "printWidth": 120,
    "singleQuote": false,
    "importOrder": ["^@core/(.*)$", "^@server/(.*)$", "^@ui/(.*)$", "^[./]"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
