# Deployer account
PRIVATE_KEY=
# mainnet
MAINNET_RPC_URL=
RPC_URL_ZAMA_GATEWAY_MAINNET=
# testnet
SEPOLIA_RPC_URL=
RPC_URL_ZAMA_GATEWAY_TESTNET=
# API for contract verification
ETHERSCAN_API=TA5XXXXXXXXXXXXXXXXXXXXXXXXXXXGX9
BLOCKSCOUT_API=https://explorer-xxxx-xxxxxxx.conduit.xyz/api # don't forget the /api suffix at the end
# Addresses used as constructor args when deploying ProtocolFeesBurner.sol & FeesSenderToBurner.sol
ZAMA_OFT_ADDRESS=
ZAMA_ERC20_ADDRESS=
# Address used as constructor arg when deploying FeesSenderToBurner.sol
PROTOCOL_FEES_BURNER_ADDRESS=
