$dark-theme-0: #272f34;
$dark-theme-1: #2d353a;
$dark-theme-2: rgba(255, 255, 255, 0.1);
$dark-theme-3: #5b676e;
$dark-theme-4: #aab4bd;
$dark-theme-5: #d2dade;
$dark-theme-6: #ffffff;
$dark-background: #121212;

$light-theme-0: #ffffff;
$light-theme-1: #fafafa;
$light-theme-2: #5b676e;
$light-theme-3: #d2dade;
$light-theme-4: #aab4bd;
$light-theme-5: #5b676e;
$light-theme-6: #272f34;

$muted-text-color: $dark-theme-4;
$border-color: $dark-theme-3;
$overall-bg: $dark-background;
$focus-bg: $dark-theme-0;
$nav-bar-color: $dark-background;

@import "theme.css";
@import "general.css";
@import "components/index.css";
@import "scss/table.scss";
@import "scss/hero.scss";
@import "scss/plans.scss";

// shared styles
.text-muted {
  color: var(--muted-text-color);
  font-weight: 300;
}

.container-box {
  border-radius: 10px;
  border: 1px solid $border-color;
  padding: 2em;
}

.notice-box {
  display: block;
  border-radius: 10px;
  border: 1px solid $border-color;
  padding: 50px 20px;
  width: 100%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */

  .box-title {
    font-weight: 600;
    padding: 1em;
  }

  .box-description {
    font-size: smaller;
    font-weight: 300;
  }

  .box-actions {
    display: flex;
    gap: 1em;
  }
}

.dashboards-container {
  display: grid;
  gap: 16px; // Adjust the gap between tiles as needed

  // Default to one iframe per row
  grid-template-columns: 1fr;

  // Media query for screens larger than 1200px
  @media (min-width: 1200px) {
    grid-template-columns: repeat(2, 1fr); // Two iframes per row
  }
}

// Iframe styling
.dashboards-container iframe {
  width: 100%;
  aspect-ratio: 16 / 9; // Maintain 16:9 aspect ratio
  border: none; // Optional: remove border if not needed
}
