@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&family=Inter:wght@400;500;600;700&family=Space+Grotesk:wght@400;500;600&display=swap");

@font-face {
  font-family: Telegraf;
  src: url("https://cdn.prod.website-files.com/61bc21e3a843412266a08eb3/62447937128c320434962155_Telegraf-Bold.woff2")
      format("woff2"),
    url("https://cdn.prod.website-files.com/61bc21e3a843412266a08eb3/6244793901b1dbeffba6d9e1_Telegraf-UltraBold.woff2")
      format("woff2"),
    url("https://cdn.prod.website-files.com/61bc21e3a843412266a08eb3/624479376b7fd15975825c63_Telegraf-Bold.eot")
      format("embedded-opentype"),
    url("https://cdn.prod.website-files.com/61bc21e3a843412266a08eb3/6244793863584f01f756c521_Telegraf-UltraBold.eot")
      format("embedded-opentype"),
    url("https://cdn.prod.website-files.com/61bc21e3a843412266a08eb3/62447937a5e576e440057bd2_Telegraf-Bold.woff")
      format("woff"),
    url("https://cdn.prod.website-files.com/61bc21e3a843412266a08eb3/6244793963584fd0b856c522_Telegraf-UltraBold.woff")
      format("woff"),
    url("https://cdn.prod.website-files.com/61bc21e3a843412266a08eb3/624479389ec65dbd0d369816_Telegraf-Bold.ttf")
      format("truetype"),
    url("https://cdn.prod.website-files.com/61bc21e3a843412266a08eb3/62204b25c218fde64f3074bd_Telegraf-UltraBold.ttf")
      format("truetype"),
    url("https://cdn.prod.website-files.com/61bc21e3a843412266a08eb3/622027eab98e1c90ade74761_Telegraf-Bold.otf")
      format("opentype"),
    url("https://cdn.prod.website-files.com/61bc21e3a843412266a08eb3/6220313f5f1957743a5b0352_Telegraf-UltraBold.otf")
      format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Telegraf;
  src: url("https://cdn.prod.website-files.com/61bc21e3a843412266a08eb3/624479377d87a1bf2cce9f64_Telegraf-Black.woff2")
      format("woff2"),
    url("https://cdn.prod.website-files.com/61bc21e3a843412266a08eb3/62447937e8505d0c4cc3ab9b_Telegraf-Black.eot")
      format("embedded-opentype"),
    url("https://cdn.prod.website-files.com/61bc21e3a843412266a08eb3/6244793707a53a7239ab9d50_Telegraf-Black.woff")
      format("woff"),
    url("https://cdn.prod.website-files.com/61bc21e3a843412266a08eb3/622027eacb81f32431e4b1b6_Telegraf-Black.ttf")
      format("truetype"),
    url("https://cdn.prod.website-files.com/61bc21e3a843412266a08eb3/62447937457a867b044a3005_Telegraf-Black.otf")
      format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Telegraf;
  src: url("https://cdn.prod.website-files.com/61bc21e3a843412266a08eb3/62447938a00fa41d8d35c608_Telegraf-Light.woff2")
      format("woff2"),
    url("https://cdn.prod.website-files.com/61bc21e3a843412266a08eb3/624479380cc74e84e3b1a17d_Telegraf-Light.eot")
      format("embedded-opentype"),
    url("https://cdn.prod.website-files.com/61bc21e3a843412266a08eb3/624479385d971c00ebadb068_Telegraf-Light.woff")
      format("woff"),
    url("https://cdn.prod.website-files.com/61bc21e3a843412266a08eb3/62447938efd690f95020c5c4_Telegraf-Light.ttf")
      format("truetype"),
    url("https://cdn.prod.website-files.com/61bc21e3a843412266a08eb3/6220458cc218fdc8a03063ad_Telegraf-Light.otf")
      format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Telegraf;
  src: url("https://cdn.prod.website-files.com/61bc21e3a843412266a08eb3/6244793831ba437759d8a3b2_Telegraf-Medium.woff2")
      format("woff2"),
    url("https://cdn.prod.website-files.com/61bc21e3a843412266a08eb3/6244793879c63cf6c2eb8f84_Telegraf-Medium.eot")
      format("embedded-opentype"),
    url("https://cdn.prod.website-files.com/61bc21e3a843412266a08eb3/62447938c5172211fc93e295_Telegraf-Medium.woff")
      format("woff"),
    url("https://cdn.prod.website-files.com/61bc21e3a843412266a08eb3/6244793873c6764acd286263_Telegraf-Medium.ttf")
      format("truetype"),
    url("https://cdn.prod.website-files.com/61bc21e3a843412266a08eb3/622027ebc92d1fa8d925a103_Telegraf-Medium.otf")
      format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Telegraf;
  src: url("https://cdn.prod.website-files.com/61bc21e3a843412266a08eb3/62447938a56f68d1535f84c1_Telegraf-Regular.woff2")
      format("woff2"),
    url("https://cdn.prod.website-files.com/61bc21e3a843412266a08eb3/62447938dcb5142bbca78626_Telegraf-Regular.eot")
      format("embedded-opentype"),
    url("https://cdn.prod.website-files.com/61bc21e3a843412266a08eb3/62447938a977a21682f323eb_Telegraf-Regular.woff")
      format("woff"),
    url("https://cdn.prod.website-files.com/61bc21e3a843412266a08eb3/624479387d87a1a6d1ce9f65_Telegraf-Regular.ttf")
      format("truetype"),
    url("https://cdn.prod.website-files.com/61bc21e3a843412266a08eb3/622027ebd0cb58f8bad07f47_Telegraf-Regular.otf")
      format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Telegraf;
  src: url("https://cdn.prod.website-files.com/61bc21e3a843412266a08eb3/624479388057a91f4773171d_Telegraf-SemiBold.woff2")
      format("woff2"),
    url("https://cdn.prod.website-files.com/61bc21e3a843412266a08eb3/62447938e8505d7a2dc3ab9c_Telegraf-SemiBold.eot")
      format("embedded-opentype"),
    url("https://cdn.prod.website-files.com/61bc21e3a843412266a08eb3/624479386bb9246058b720e1_Telegraf-SemiBold.woff")
      format("woff"),
    url("https://cdn.prod.website-files.com/61bc21e3a843412266a08eb3/62447938dcb5144b9ba78627_Telegraf-SemiBold.ttf")
      format("truetype"),
    url("https://cdn.prod.website-files.com/61bc21e3a843412266a08eb3/622027ebb1908f3f96b69eb3_Telegraf-SemiBold.otf")
      format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Telegraf;
  src: url("https://cdn.prod.website-files.com/61bc21e3a843412266a08eb3/62447939ed19924b94f301c3_Telegraf-UltraLight.woff2")
      format("woff2"),
    url("https://cdn.prod.website-files.com/61bc21e3a843412266a08eb3/6244793fa5e5763297057be2_Telegraf-UltraLight.eot")
      format("embedded-opentype"),
    url("https://cdn.prod.website-files.com/61bc21e3a843412266a08eb3/6244793922a281024bd7255f_Telegraf-UltraLight.woff")
      format("woff"),
    url("https://cdn.prod.website-files.com/61bc21e3a843412266a08eb3/62447939973b473c3f94d94b_Telegraf-UltraLight.ttf")
      format("truetype"),
    url("https://cdn.prod.website-files.com/61bc21e3a843412266a08eb3/6220313f0d547caf9a68f4fe_Telegraf-UltraLight.otf")
      format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

/* Theme */

:root {
  --dark-theme-0: #272f34;
  --dark-theme-1: #2d353a;
  --dark-theme-2: rgba(255, 255, 255, 0.1);
  --dark-theme-3: #5b676e;
  --dark-theme-4: #aab4bd;
  --dark-theme-5: #d2dade;
  --dark-theme-6: #ffffff;
  --dark-background: #121212;

  --light-theme-0: #ffffff;
  --light-theme-1: #fafafa;
  --light-theme-2: #5b676e;
  --light-theme-3: #d2dade;
  --light-theme-4: #aab4bd;
  --light-theme-5: #5b676e;
  --light-theme-6: #111314;

  --orange: #ff4f00;
  --indigo: #635dff;
  --white: #fff;
  --light-aluminium: #eaecee;
  --aluminium: #bdc4cf;
  --dark-aluminium: #2a2e35;
  --black: #000000;
  --yellow: #ebca40;
  --mandarine: #ff7f38;
  --pink: #ff44dd;
  --blue: #3885ff;
  --aqua: #3ec6eb;
  --emerald: #1bc99f;
  --zama-yellow: #ffd208;
  --moesif-black: #272f34;

  --overall-bg: var(--zama-yellow);
  --nav-bg: var(--zama-yellow);
  --focus-bg: var(--dark-theme-0);
  --button-outline: var(--light-theme-6);
  --body-text-color: var(--light-theme-6);
  --link-text-color: var(--light-theme-6);
  --link-hover-color: var(--black);
  --muted-text-color: var(--light-theme-5);

  --yellow-mandarine-gradient: linear-gradient(
    153.07deg,
    var(--yellow) -2.47%,
    var(--mandarine) 102.78%
  );

  --mandarine-orange-gradient: linear-gradient(
    153.07deg,
    var(--mandarine) -2.47%,
    var(--orange) 102.78%
  );

  --pink-yellow-gradient: linear-gradient(
    153.07deg,
    var(--pink) -2.47%,
    var(--yellow) 102.78%
  );

  --pink-indigo-gradient: linear-gradient(
    153.07deg,
    var(--pink) -2.47%,
    var(--indigo) 102.78%
  );

  --indigo-aqua-gradient: linear-gradient(
    153.07deg,
    var(--indigo) -2.47%,
    var(--aqua) 102.78%
  );

  --blue-aqua-gradient: linear-gradient(
    153.07deg,
    var(--blue) -2.47%,
    var(--aqua) 102.78%
  );

  --aqua-emerald-gradient: linear-gradient(
    153.07deg,
    var(--aqua) -2.47%,
    var(--emerald) 102.78%
  );

  --emerald-yellow-gradient: linear-gradient(
    153.07deg,
    var(--emerald) -2.47%,
    var(--yellow) 102.78%
  );
  --font-primary: "Telegraf variable", sans-serif;
  --font-secondary: "Space Grotesk", sans-serif;
  --font-mono: "Fira Code", monospace;
}
