# Copy this file as `.env` and save your current configuration.
PORT=3001
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_REGION=eu-central-1
AWS_ENDPOINT=http://localhost:4566
AWS_BACK_QUEUE_URL=http://localhost:4566/000000000000/back-queue
AWS_ORCHESTRATOR_QUEUE_URL=http://localhost:4566/000000000000/orchestrator-queue
AWS_WEB3_QUEUE_URL=http://localhost:4566/000000000000/web3-queue
AWS_RELAYER_QUEUE_URL=http://localhost:4566/000000000000/relayer-queue
DATABASE_URL="postgresql://postgres:postgres@localhost:5434/console?schema=orchestrator"
# WEB3_CHAIN_IDS="123456,11155111"
WEB3_CHAIN_IDS="123456"
WEB3_EVERY="1 hour"
REDIS_HOST="localhost:6379"
