.page-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;

  min-height: 90vh;
  height: 100%;
  width: 100%;
}

.page-layout--home {
  background-image: url("../../../images/assets/dev-portal-hero-bg@2x.png");
  background-repeat: no-repeat;
}

.page-layout > * {
  padding-inline: 24px;
}

.page-layout__content {
  flex: 1;
  flex-basis: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;
  width: 100%;
  white-space: pre-wrap;

  a {
    color: var(--link-text-color);
    text-decoration: none;
    font-weight: 600;
  }

  a:hover {
    color: var(--link-hover-color);
    text-decoration: underline;
    text-decoration-thickness: 1%;
    text-underline-offset: 4px;
  }
}

.page-layout__content > * {
  width: 100%;
  max-width: 1200px;
}

.page-layout__focus {
  background: var(--focus-bg);
  padding: 3rem;
  width: 100%;
  border-radius: 10px;
}

.page-layout__focus.dashboards {
  max-width: 1800px;
}

@media only screen and (max-width: 640px) {
  .page-layout__content {
    margin-top: 6.4rem;
  }
}
