# Authentication (use one of these)
MNEMONIC=
PRIVATE_KEY=

# RPC URLs
MAINNET_RPC_URL=
SEPOLIA_RPC_URL=

# API Keys
ETHERSCAN_API_KEY=

# Gas Reporter
REPORT_GAS=false


# ----------------------------------------------------------------------------
# ConfidentialTokenWrappersRegistry deployment
# ----------------------------------------------------------------------------

# The number of tokens to register initially
INITIAL_OWNER=0x70997970C51812dc3A010C7d01b50e0d17dc79C8 # accounts[1] (address)