# config/local.yaml.example
# Example local configuration - Copy this file to local.yaml and adjust values as needed

# Instructions:
# 1. Copy this file to local.yaml: cp config/local.yaml.example config/local.yaml
# 2. Update the contract addresses after deploying your contracts
# 3. Adjust the http_url and ws_url to match your local Ethereum node
# 4. Modify log settings based on your debugging needs

global:
  test_mock: true
gateway:
  blockchain_rpc:
    ws_url: "ws://localhost:8757"
    http_url: "http://localhost:8757"
    chain_id: 654321
    ws_health_check_timeout_secs: 5
    http_health_check_timeout_secs: 5
  listener:
    # Optional: set the starting block number for event subscriptions
    # last_block_number: null
    ws_reconnect_config:
      max_attempts: 20
      retry_interval_ms: 500
  tx_engine:
    private_key: "0x3f45b129a7fd099146e9fe63851a71646231f7743c712695f3b2d2bf0e41c774"
    max_concurrency: 100
    retry:
      max_attempts: 100
      retry_interval_ms: 500
  readiness_checker:
    max_concurrency: 100
    retry:
      max_attempts: 75
      retry_interval_ms: 3000
  contracts:
    decryption_address: "0xB8Ae44365c45A7C5256b14F607CaE23BC040c354"
    input_verification_address: "0xE61cff9C581c7c91AEF682c2C10e8632864339ab"
    user_decrypt_shares_threshold: 9
log:

  format: "pretty"          # compact, pretty, or json
  show_file_line: false
  show_thread_ids: false
  show_timestamp: true
  show_target: true

keyurl:
    fhe_public_key:
      data_id: "fhe-public-key-data-id"
      url: "http://0.0.0.0:3001/publicKey.bin"
    crs:
      data_id: "crs-data-id"
      url: "http://0.0.0.0:3001/crs2048.bin"

http:
  endpoint: "0.0.0.0:3000"
  rate_limit_post_endpoints:
    requests_per_second: 30
    burst_size: 30
    retry_after_seconds: 5
    jitter_max_ms: 2000
  metrics:
    histogram_buckets: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 40]

metrics:
  endpoint: "0.0.0.0:9898"

storage:
  sql_database_url: "postgresql://postgres:postgres@localhost:5433/relayer_db"
  sql_max_connections: 10
  sql_health_check_timeout_secs: 5
  cron:
    # 60s for interval check
    timeout_cron_interval: "60s" 
    
    # TODO
    # 30 mins timeout logic
    public_decrypt_timeout: "30m"
    user_decrypt_timeout: "30m"
    input_proof_timeout: "30m"

    # 5 min interval for cleanup check
    expiry_cron_interval: "5m"
    
    #TODO
    # Retention Policies
    public_decrypt_expiry: "1y" # 1 year
    user_decrypt_expiry: "7d"
    input_proof_expiry: "7d"
