environment: development

gateway:
  listener:
    ws_reconnect_config:
      max_attempts: 20
      retry_interval_ms: 500
  tx_engine:
    private_key: GATEWAY_PRIVATE_KEY
    max_concurrency: 100
    retry:
      max_attempts: 100
      retry_interval_ms: 500
  readiness_checker:
    max_concurrency: 100
    retry:
      max_attempts: 30
      # The time is treated as seconds in code, even the config name has _ms suffix.
      # This will be fixed in next rc, until then treat the value as seconds.
      retry_interval_ms: 2

http:
  endpoint: "0.0.0.0:3000"
  rate_limit_post_endpoints:
    requests_per_second: 30
    burst_size: 30
  metrics:
    histogram_buckets: [0, 0.5, 1, 1.25, 1.5, 1.75, 2, 2.5, 3, 3.5, 4, 5, 6, 7, 8, 10, 12, 14, 16, 18, 20, 25, 30]

log:
  format: "compact"
  show_file_line: true
  show_thread_ids: false
  show_timestamp: true
  show_target: true

metrics:
  endpoint: "0.0.0.0:9898"

storage:
  db_path_rocksdb: "./.database"

development:
  verbose_errors: true