
# Account authentication (choose one)
MNEMONIC="adapt mosquito move limb mobile illegal tree voyage juice mosquito burger raise father hope layer" # (string)
PRIVATE_KEY=

# Network RPC URLs
MAINNET_RPC_URL="your-rpc-url" # (string)
SEPOLIA_RPC_URL="your-rpc-url" # (string)

# Deployment parameters
CONTRACT_TARGET="0x5FbDB2315678afecb367f032d93F642f64180aa3" # (address)
FUNCTION_SIGNATURE="pauseMinting()" # (string)
PAUSER_SET="0xe7f1725E7734CE288F8367e1Bb143E90bb3F0512" # (address)

# For verification on etherscan
ETHERSCAN_API_KEY="your-etherscan-api-key-here" # (string)
