# directories
.coverage_artifacts
.coverage_cache
.coverage_contracts
addresses
artifacts
build
cache
coverage
dist
fhevm-foundry
lib
lz-wiring
node_modules
rust_bindings
types

# files
*.env
*.log
.DS_Store
coverage.json
package-lock.json
