# Copy this file as `.env` and save your current configuration.
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_REGION=eu-central-1
AWS_ENDPOINT=http://localhost:4566
AWS_TOPIC_ARN=arn:aws:sns:eu-central-1:000000000000:console-topic
AWS_QUEUE_URL=http://localhost:4566/000000000000/web3-queue

CHAIN_IDS=11155111
ETHERSCAN_SEPOLIA_APIKEY=ETHERSCAN_SEPOLIA_APIKEY