# Copy this file as `.env` and save your current configuration.
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_REGION=eu-central-1
AWS_ENDPOINT=http://localhost:4566
AWS_WEB3_QUEUE_URL=http://localhost:4566/000000000000/web3-queue
AWS_ORCHESTRATOR_QUEUE_URL=http://localhost:4566/000000000000/orchestrator-queue

ETHER_CHAIN_IDS=11155111
ETHERSCAN_SEPOLIA_APIKEY=ETHERSCAN_SEPOLIA_APIKEY

PORT=3002
FHE_CHAIN_IDS=123456
LOCAL_TFHE_EXECUTOR_CONTRACT_ADDRESS=0x4e142887e3Dc6e414a9b260a1034D20C9B4Eb11F

# Optional LOG_LEVEL
# LOG_LEVEL = "fatal"
# LOG_LEVEL = "error" 
# LOG_LEVEL = "warn" 
# LOG_LEVEL = "info" 
# LOG_LEVEL = "debug"
# LOG_LEVEL = "trace"