button {
  cursor: pointer;
}

.button {
  border: 0;
  border-radius: var(--border-radius, 0);

  font-family: var(--font-primary);
  font-size: 1.4rem;

  background-color: var(--light-theme-6);
  color: var(--white);

  user-select: none;

  transition: background 0.3s ease-out, color 0.3s ease-out;

  /* responsive */
  padding: 0.8rem 1.2rem;
}

.button--compact {
  /* responsive */

  padding: 1rem 1.6rem;

  font-size: 1.6rem;
  line-height: 1.6rem;
}

.button--primary {
  background-color: var(--orange);
}

.button--primary:hover {
  background: rgba(99, 93, 255, 0.85);
}

.button--secondary {
  background-color: var(--light-theme-6);
  color: var(--white);
}

.button--secondary:hover {
  background: rgba(255, 255, 255, 0.85);
}

.button--outline-secondary {
  border: 1px solid #aab4bd;
  color: #5b676e;
  background-color: white;
}

@media only screen and (max-width: 480px) {
  .button {
    /* responsive */

    min-width: 0.8rem;
    padding: 1rem 1.2rem;

    font-size: 1.3rem;
    line-height: 2.2rem;
  }

  .button--compact {
    /* responsive */

    padding: 0.6rem 1rem;

    font-size: 1.3rem;
    line-height: 2rem;
  }
}

.button__purp,
.button__login,
.button__logout {
  min-width: 8.4rem;

  border: 0.1rem solid var(--light-theme-6);
  color: var(--white);
  background: var(--light-theme-6);
  width: 50%;
  font-size: 1.6rem;

  margin-right: 1.6rem;

  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 600;
  line-height: 3.2rem;
  padding: 0.8rem 0;
  border-radius: var(--border-radius, 0);
  text-align: center;

  cursor: pointer;
  user-select: none;

  transition: filter 0.3s ease-out;
}

.button__logout:hover {
  filter: brightness(110%);
}

.button__purp {
  background: var(--white);
  color: var(--black);
  width: 100%;
  border: unset;
}

.button__sign-up {
  min-width: 8.4rem;

  border: 0.1rem solid var(--light-theme-6);
  color: var(--light-theme-6);
  background-color: transparent;
  /* width: 50%; */
  font-size: 1.4rem;

  margin-right: 1.6rem;

  font-style: normal;
  font-weight: 500;
  line-height: 1.6rem;
  padding: 0.8rem 0;
  border-radius: var(--border-radius, 0);
  text-align: center;

  cursor: pointer;
  user-select: none;
  transition: background 0.1s ease-out, color 0.3s ease-out;
}

.button__sign-up:hover {
  background: rgba(255, 255, 255, 0.15);
}

.button__login:last-child,
.button__logout:last-child,
.button__sign-up:last-child {
  margin-right: 0;
}

@media only screen and (min-width: 641px) {
  .button__login,
  .button__logout,
  .button__sign-up {
    padding: 0.8rem 1.2rem;

    font-size: 1.4rem;
    line-height: 1.6rem;
  }
}

.button__link {
  border: none;
  color: var(--link-text-color);
  padding-inline: 2px;
  width: fit-content;
  background-color: inherit;
  transition: background 0.3s ease-out, color 0.3s ease-out;
}

.button__link:hover {
  color: var(--link-hover-color);
}

.button__price-action {
  min-width: 8.4rem;

  border: 1px solid var(--button-outline);
  color: var(--body--text-color);
  background-color: transparent;
  width: 100%;
  font-size: 1.6rem;

  font-style: normal;
  font-weight: 500;
  line-height: 3.2rem;
  padding: 0.3rem 0;
  border-radius: var(--border-radius, 0);
  text-align: center;

  cursor: pointer;
  user-select: none;
  transition: background 0.3s ease-out, color 0.3s ease-out;
}

.button__price-action:hover {
  background: rgba(255, 255, 255, 0.1);
  font-weight: 900;
}
