table.table {
  border: 1px solid var(--dark-background);
  border-spacing: 0;
}

table.table thead {
  background-color: var(--dark-background);
  color: var(--yellow);
  font-weight: bold;
}
table.table td {
  border-bottom: 1px solid var(--dark-background);
}
table.table tr:last-child td {
  border-bottom: none;
}

table.table td.actions {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}
