/* display */
.inline { display: inline; }
.block { display: block; }
.inline-block { display: inline-block; }
.none { display: none; }
.flex { display: flex; }
.hidden { display: hidden; }

/* text color */
.text-black { color: var(--black); }
.text-yellow { color: var(--yellow); }
.text-zama-yellow { color: var(--zama-yellow); }
.text-transparent { color: transparent; }

/* background color */
.bg-black { background-color: var(--black); }
.bg-yellow { background-color: var(--yellow); }
.bg-zama-yellow { background-color: var(--yellow); }
.bg-transparent { background-color: transparent; }
.bg-gray-100 { background-color: var(--light-theme-0); }
.bg-gray-200 { background-color: var(--light-theme-1); }
.bg-gray-300 { background-color: var(--light-theme-2); }
.bg-gray-400 { background-color: var(--light-theme-3); }
.bg-gray-500 { background-color: var(--light-theme-4); }
.bg-gray-600 { background-color: var(--light-theme-5); }
.bg-gray-700 { background-color: var(--light-theme-6); }

/* border width */
.border { border-width: 1px; }
.border-1 { border-width: 1px; }
.border-2 { border-width: 2px; }
.border-3 { border-width: 3px; }
.border-4 { border-width: 4px; }
.border-x { border-inline-width: 1px; }
.border-x-1 { border-inline-width: 1px; }
.border-x-2 { border-inline-width: 2px; }
.border-x-3 { border-inline-width: 3px; }
.border-x-4 { border-inline-width: 4px; }
.border-y { border-block-width: 1px; }
.border-y-1 { border-block-width: 1px; }
.border-y-2 { border-block-width: 2px; }
.border-y-3 { border-block-width: 3px; }
.border-y-4 { border-block-width: 4px; }
.border-t { border-top-width: 1px; }
.border-t-1 { border-top-width: 1px; }
.border-t-2 { border-top-width: 2px; }
.border-t-3 { border-top-width: 3px; }
.border-t-4 { border-top-width: 4px; }
.border-b { border-bottom-width: 1px; }
.border-b-1 { border-bottom-width: 1px; }
.border-b-2 { border-bottom-width: 2px; }
.border-b-3 { border-bottom-width: 3px; }
.border-b-4 { border-bottom-width: 4px; }
.border-r { border-right-width: 1px; }
.border-r-1 { border-right-width: 1px; }
.border-r-2 { border-right-width: 2px; }
.border-r-3 { border-right-width: 3px; }
.border-r-4 { border-right-width: 4px; }
.border-l { border-left-width: 1px; }
.border-l-1 { border-left-width: 1px; }
.border-l-2 { border-left-width: 2px; }
.border-l-3 { border-left-width: 3px; }
.border-l-4 { border-left-width: 4px; }

/* border style */
.border-solid { border-style: solid; }
.border-dashed { border-style: dashed; }
.border-dotted { border-style: dotted; }
.border-none { border-style: none; }
.border-x-solid { border-inline-style: solid; }
.border-x-dashed { border-inline-style: dashed; }
.border-x-dotted { border-inline-style: dotted; }
.border-x-none { border-inline-style: none; }
.border-y-solid { border-block-style: solid; }
.border-y-dashed { border-block-style: dashed; }
.border-y-dotted { border-block-style: dotted; }
.border-y-none { border-block-style: none; }
.border-t-solid { border-top-style: solid; }
.border-t-dashed { border-top-style: dashed; }
.border-t-dotted { border-top-style: dotted; }
.border-t-none { border-top-style: none; }
.border-b-solid { border-bottom-style: solid; }
.border-b-dashed { border-bottom-style: dashed; }
.border-b-dotted { border-bottom-style: dotted; }
.border-b-none { border-bottom-style: none; }
.border-r-solid { border-right-style: solid; }
.border-r-dashed { border-right-style: dashed; }
.border-r-dotted { border-right-style: dotted; }
.border-r-none { border-right-style: none; }
.border-l-solid { border-left-style: solid; }
.border-l-dashed { border-left-style: dashed; }
.border-l-dotted { border-left-style: dotted; }
.border-l-none { border-left-style: none; }

/* border color */
.border-black { border-color: var(--black); }
.border-yellow { border-color: var(--yellow); }
.border-zama-yellow { border-color: var(--zama-yellow); }
.border-transparent { border-color: transparent; }

/* border radius */
.rounded-xs { border-radius: var(--radius-xs); }
.rounded-sm { border-radius: var(--radius-sm); }
.rounded-md { border-radius: var(--radius-md); }
.rounded-lg { border-radius: var(--radius-lg); }
.rounded-xl { border-radius: var(--radius-xl); }
.rounded-2xl { border-radius: var(--radius-2xl); }

/* align items */
.items-start { align-items: start; }
.items-end { align-items: flex-end; }
.items-center { align-items: center; }
.items-stretch { align-items: stretch; }

/* justify content */
.justify-start { justify-content: start; }
.justify-end { justify-content: flex-end; }
.justify-center { justify-content: center; }
.justify-stretch { justify-content: stretch; }
.justify-between { justify-content: space-between; }
.justify-around { justify-content: space-around; }
.justify-evenly { justify-content: space-evenly; }


/* flex */
.flex-1 { flex: 1; }
.flex-2 { flex: 2; }
.flex-3 { flex: 3; }
.flex-4 { flex: 4; }
.flex-auto { flex: auto; }
.flex-initial { flex: 0 auto; } 
.flex-none { flex: none }
.grow { flex-grow: 1; }
.shrink { flex-shrink: 1; }

/* width */
.w-sm { width: var(--container-sm); }
.w-md { width: var(--container-md); }
.w-lg { width: var(--container-lg); }
.w-xl { width: var(--container-xl); }
.w-2xl { width: var(--container-2xl); }
.w-3xl { width: var(--container-3xl); }
.w-4xl { width: var(--container-4xl); }
.w-auto { width: auto; }
.w-full { width: 100%; }
.w-screen { width: 100vw; }

/* auto */
.h-auto { height: auto; }
.h-full { height: 100%; }
.h-screen { height: 100vh; }

/* text */
.text-center { text-align: center; }
.text-right { text-align: right; }
.text-left { text-align: left; }
.text-justify { text-align: justify; }