APP__COMMON__PORT=3000
APP__DB__URL="postgresql://postgres:postgres@localhost:5434/console?schema=back"
APP__JWT__SECRET="JWTSecretPassPhrase"
APP__INVITATION__SECRET="InvitationSecretPassPhrase"
# in miliseconds, defaults to 1000 * 60 * 60 * 24 * 7 → 1 week
APP__INVITATION__EXPIRATION_TIME=604800000

APP__COMMON__LOG_LEVEL="debug"
APP__COMMON__PRISMA_LOGLEVEL="error"

APP__REDIS__HOST="localhost"
APP__REDIS__PORT=6379
APP__COMMON__GRAPHQL_MAX_COMPLEXITY=50

APP__AWS__ACCESS_KEY_ID=test
APP__AWS__SECRET_ACCESS_KEY=test
APP__AWS__REGION=eu-central-1
APP__AWS__ENDPOINT=http://localhost:4566
APP__AWS__ORCHESTRATOR_QUEUE_URL=http://localhost:4566/000000000000/orchestrator-queue
APP__AWS__BACK_QUEUE_URL=http://localhost:4566/000000000000/back-queue

RUN_MODE=local
