PORT=3000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/console?schema=back"
JWT_SECRET="JWTSecretPassPhrase"
INVITATION_SECRET="InvitationSecretPassPhrase"
# in miliseconds, defaults to 1000 * 60 * 60 * 24 * 7 → 1 week
INVITATION_EXPIRATION_TIME=604800000
LOGLEVEL="debug"

AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_REGION=eu-central-1
AWS_ENDPOINT=http://localhost:4566
AWS_TOPIC_ARN=arn:aws:sns:eu-central-1:000000000000:console-topic
AWS_QUEUE_URL=http://localhost:4566/000000000000/back-queue
