# Hardhat Network
HARDHAT_NETWORK="hardhat" # (string)

# Chain ID
CHAIN_ID_GATEWAY="31337" # (uint256)

# Mnemonic
MNEMONIC="adapt mosquito move limb mobile illegal tree voyage juice mosquito burger raise father hope layer" # (string)

# Deployer
DEPLOYER_PRIVATE_KEY="0x7136d8dc72f873124f4eded25f3525a20f6cee4296564c76b44f1d582c57640f" # accounts[1], private key (bytes32)

# RPC URL
RPC_URL="http://127.0.0.1:8757" # (string)

# Protocol
PROTOCOL_NAME="Protocol" # (string)
PROTOCOL_WEBSITE="https://protocol.com" # (string)

# Pauser
PAUSER_ADDRESS="0xa44366bAA26296c1409AD1e284264212029F02f1" # accounts[2] (address)

# MPC Threshold
MPC_THRESHOLD="1" # (uint256)

# Decryption response thresholds
PUBLIC_DECRYPTION_THRESHOLD="3" # (uint256)
USER_DECRYPTION_THRESHOLD="3" # (uint256)

# KMS Nodes
# The number of KMS nodes must be lower or equal to the number of KMS nodes' metadata defined below
NUM_KMS_NODES="4" # (number)

# KMS Node 1
KMS_TX_SENDER_ADDRESS_0="0xc1d91b49A1B3D1324E93F86778C44a03f1063f1b" # accounts[3] (address)
KMS_SIGNER_ADDRESS_0="0x305F1F471e9baCFF2b3549F9601f9A4BEafc94e1" # accounts[4] (address)
KMS_NODE_IP_ADDRESS_0="127.0.0.1" # (string)

# KMS Node 2
KMS_TX_SENDER_ADDRESS_1="0x8B8f5091f8b9817EF69cFC1E8B2f721BafF60DF4" # accounts[5] (address)
KMS_SIGNER_ADDRESS_1="0x03734276e8f8ab253ff4295e66228DAC936FF5b8" # accounts[6] (address)
KMS_NODE_IP_ADDRESS_1="127.0.0.2" # (string)

# KMS Node 3
KMS_TX_SENDER_ADDRESS_2="0x9FE8958A2920985AC7ab8d320fDFaB310135a05B" # accounts[7] (address)
KMS_SIGNER_ADDRESS_2="0x466f26442DD182C9A1b018Cd06671F9791DdE8Ef" # accounts[8] (address)
KMS_NODE_IP_ADDRESS_2="127.0.0.3" # (string)

# KMS Node 4
KMS_TX_SENDER_ADDRESS_3="0xc45994e4098271c3140117ebD5c74C70dd56D9cd" # accounts[9] (address)
KMS_SIGNER_ADDRESS_3="0xDb216ECeC4cEd51CdfD9609b6Ce7653aB04f6cAd" # accounts[10] (address)
KMS_NODE_IP_ADDRESS_3="127.0.0.4" # (string)

# Coprocessor feature set
COPROCESSORS_FEATURE_SET="1" # (uint256)

# Coprocessors
# The number of coprocessors must be lower or equal to the number of coprocessors' metadata defined below
NUM_COPROCESSORS="3" # (number)

# Coprocessor 1
COPROCESSOR_NAME_0="Coprocessor 1" # (string)
COPROCESSOR_TX_SENDER_ADDRESS_0="0x6518D50aDc9036Df37119eA465a8159E34417E2E" # accounts[11] (address)
COPROCESSOR_SIGNER_ADDRESS_0="0xa5eE8292dA52d8234248709F3E217ffEBA5E8312" # accounts[12] (address)
COPROCESSOR_S3_BUCKET_URL_0="s3://bucket-1" # (string)

# Coprocessor 2
COPROCESSOR_NAME_1="Coprocessor 2" # (string)
COPROCESSOR_TX_SENDER_ADDRESS_1="0xCFbF539CB91c92ace0343c5B0487149Ad0b82078" # accounts[13] (address)
COPROCESSOR_SIGNER_ADDRESS_1="0xA951F315d5FD35Cac111dFB5250DF231FB8eF905" # accounts[14] (address)
COPROCESSOR_S3_BUCKET_URL_1="s3://bucket-2" # (string)

# Coprocessor 3
COPROCESSOR_NAME_2="Coprocessor 3" # (string)
COPROCESSOR_TX_SENDER_ADDRESS_2="0x3C0033584da3A0f61AA5C7bde50eAF3642875a21" # accounts[15] (address)
COPROCESSOR_SIGNER_ADDRESS_2="0x420AF5A5BBfAd922aE5a501d9a8Bf70a55F52E03" # accounts[16] (address)
COPROCESSOR_S3_BUCKET_URL_2="s3://bucket-3" # (string)

# Custodians
# The number of custodians must be lower or equal to the number of custodians' metadata defined below
NUM_CUSTODIANS="3" # (number)

# Custodian 1
CUSTODIAN_TX_SENDER_ADDRESS_0="0x30D7Fe34c8fD3417C8aa5F63cDb1f81e012c2042" # accounts[17] (address)
CUSTODIAN_SIGNER_ADDRESS_0="0xdE4c747d9922EBF05EBb8937847F9C6097E847DD" # accounts[18] (address)
CUSTODIAN_ENCRYPTION_KEY_0="0xea8b8b710d770493a41b588808ea8e09d986561f73d523227718233f3b4742de793f18a9885136a9e7054b00ba0050a17f0c7d1bf180aaff5ece0fa3343afb1b" # (bytes)

# Custodian 2
CUSTODIAN_TX_SENDER_ADDRESS_1="0x635d0008543dEAE72Be18Bb2e18a524Cef1bDff2" # accounts[19] (address)
CUSTODIAN_SIGNER_ADDRESS_1="0x6E7684b608EbB5eB8bCF43edb67102997b35C340" # accounts[20] (address)
CUSTODIAN_ENCRYPTION_KEY_1="0x753c623ada1ad141eb01f99196ad7b69cce63c7fd3e0fbbc2b6c46ea007103cbb71c8b018bd372fe4de2429d614aeaaaf2409736ad0d7c01de26cbe82c9d9195" # (bytes)

# Custodian 3
CUSTODIAN_TX_SENDER_ADDRESS_2="0xf56Fc4561eD4B3b7079288Bafa15151b53fEA5b5" # accounts[21] (address)
CUSTODIAN_SIGNER_ADDRESS_2="0x551c9C35e25B52FbCbA81C42248de2c9E171ADB5" # accounts[22] (address)
CUSTODIAN_ENCRYPTION_KEY_2="0xcb7d351548eadf0041c683e97e46f70f1a269062a94e8c5c69c6b07e6ce0369970f431024d9868537ffe502c1d8d9c740b75597014305070e86fcfaa56333f8e" # (bytes)

# Host chains
# The number of host chains must be lower or equal to the number of host chains' metadata defined below
NUM_HOST_CHAINS="4" # (number)

# Host chain 1
HOST_CHAIN_CHAIN_ID_0="2025" # (uint256)
HOST_CHAIN_FHEVM_EXECUTOR_ADDRESS_0="0xbb8ab3d75fd306ce85c90e899a2db850490cd697" # (address)
HOST_CHAIN_ACL_ADDRESS_0="0xabcdef1234567890abcdef1234567890abcdef12" # (address)
HOST_CHAIN_NAME_0="Host chain 2025" # (string)
HOST_CHAIN_WEBSITE_0="https://host-chain-2025.com" # (string)

# Host chain 2
HOST_CHAIN_CHAIN_ID_1="2026" # (uint256)
HOST_CHAIN_FHEVM_EXECUTOR_ADDRESS_1="0xc62b41c16795047029224f4aca00a3dc5b614d78" # (address)
HOST_CHAIN_ACL_ADDRESS_1="0xabcdef1234567890abcdef1234567890abcdef12" # (address)
HOST_CHAIN_NAME_1="Host chain 2026" # (string)
HOST_CHAIN_WEBSITE_1="https://host-chain-2026.com" # (string)

# Host chain 3
HOST_CHAIN_CHAIN_ID_2="2027" # (uint256)
HOST_CHAIN_FHEVM_EXECUTOR_ADDRESS_2="0x8bbd4745254539af7f170d82a68d0ae2ba72a360" # (address)
HOST_CHAIN_ACL_ADDRESS_2="0xabcdef1234567890abcdef1234567890abcdef12" # (address)
HOST_CHAIN_NAME_2="Host chain 2027" # (string)
HOST_CHAIN_WEBSITE_2="https://host-chain-2027.com" # (string)

# Host chain 4
HOST_CHAIN_CHAIN_ID_3="2028" # (uint256)
HOST_CHAIN_FHEVM_EXECUTOR_ADDRESS_3="0xd8367189517e44154dc65c0bea9ae43c2c1adef7" # (address)
HOST_CHAIN_ACL_ADDRESS_3="0xabcdef1234567890abcdef1234567890abcdef12" # (address)
HOST_CHAIN_NAME_3="Host chain 2028" # (string)
HOST_CHAIN_WEBSITE_3="https://host-chain-2028.com" # (string)

# FHE Parameters
FHE_PARAMS_NAME="TEST" # (string)
FHE_PARAMS_DIGEST="0xd61fa44c57b6e7526a46e1072d63332ab4eb38e050fe54dd51fe995f9055c354" # (bytes32)

# GatewayConfig contract address
# This address is required during the production deployment, at which point this environment variable
# is dynamically set after contracts are deployed.
# For tests, this address is read directly from the addresses/.env.gateway_config file, so the value in this file is ignored.
GATEWAY_CONFIG_ADDRESS="0xC7D45661a345eC5cA0e8521CFEF7e32FDA0Daa68" # (address)
