node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Proxy contract addresses
/addresses

# Common files
*.env
*.log
.DS_Store
.pnp.*
coverage.json
yarn.lock
