name: fhevm-gateway-contracts

services:
  anvil-node:
    container_name: anvil-node
    image: ghcr.io/foundry-rs/foundry:stable
    env_file:
      - ./.env
    entrypoint:
      - anvil
      - --block-time
      - "0.1"
      - --host
      - 0.0.0.0
      - --port
      - "8546"
      - --chain-id
      - "54321"
      - --accounts
      - "20"
      - --mnemonic
      - "${MNEMONIC:-adapt mosquito move limb mobile illegal tree voyage juice mosquito burger raise father hope layer}"
    ports:
      - "8546:8546"

  deploy-gateway-contracts:
    container_name: deploy-gateway-contracts
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - ./.env
    environment:
      - HARDHAT_NETWORK=staging
      - CHAIN_ID_GATEWAY=54321
      - RPC_URL=http://anvil-node:8546
    command:
      - npx hardhat task:deployAllGatewayContracts
    depends_on:
      anvil-node:
        condition: service_started
    volumes:
      - ./addresses_new:/app/addresses

  add-host-chains:
    container_name: add-host-chains
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - ./.env
    environment:
      - HARDHAT_NETWORK=staging
      - CHAIN_ID_GATEWAY=54321
      - RPC_URL=http://anvil-node:8546
    command:
      - npx hardhat task:addHostChainsToGatewayConfig
    depends_on:
      anvil-node:
        condition: service_started
      deploy-gateway-contracts:
        condition: service_completed_successfully
    volumes:
      - ./addresses_new:/app/addresses

  deploy-gateway-mock-contracts:
    container_name: deploy-gateway-mock-contracts
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - ./.env
    environment:
      - HARDHAT_NETWORK=staging
      - CHAIN_ID_GATEWAY=54321
      - RPC_URL=http://anvil-node:8546
    command:
      - npx hardhat task:deployGatewayMockContracts
    depends_on:
      anvil-node:
        condition: service_started
