*
!/artifacts/contracts/ACL.sol/ACL.json
!/artifacts/contracts/FHEPayment.sol/FHEPayment.json
!/artifacts/contracts/InputVerifier.coprocessor.sol/InputVerifier.json
!/artifacts/contracts/InputVerifier.native.sol/InputVerifier.json
!/artifacts/contracts/KMSVerifier.sol/KMSVerifier.json
!/artifacts/contracts/TFHEExecutor.sol/TFHEExecutor.json
!/artifacts/contracts/TFHEExecutorWithEvents.sol/TFHEExecutorWithEvents.json
!/artifacts/gateway/GatewayContract.sol/GatewayContract.json
!contracts/**
!gateway/**
!package.json
!LICENSE
!README.md