.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;

  h1 {
    font-size: 6rem;
    margin-bottom: 10px;
    font-weight: 900;
    color: var(--body-text-color);
  }

  p {
    font-size: 2.5rem;
    margin-bottom: 20px;
    line-height: 4rem;
    font-weight: 300;
    color: var(--body-text-color);
  }

  .buttons {
    padding-top: 20px;
    display: flex;
    gap: 10px;

    justify-content: center;
  }

  .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
}

.hero-content {
  max-width: 100%;
}

.hero-image {
  margin-top: 20px;
}

.hero-image img {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
}

@media (min-width: 756px) {
  .hero {
    flex-direction: row;
    text-align: left;
    align-items: flex-start; /* Aligns content to the top */

    .buttons {
      justify-content: flex-start;
    }
  }

  .hero-content {
    flex: 1;
  }

  .hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 0px;
  }
}

.heading-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  max-width: 600px;

  .buttons {
    padding-top: 20px;
    display: flex;
    gap: 10px;

    justify-content: center;
  }

  h1 {
    padding-bottom: 10px;
  }

  .description {
    padding-top: 10px;
    font-weight: 300;
  }
}
