.plans--container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px; /* Space between tiles */
  align-items: stretch;
}

.price--tile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border: 1px solid $border-color;
  padding: 15px;
  border-width: 1px;
  border-radius: 10px;
}

.plan--subscription-period {
  font-size: xx-small;
  margin-bottom: 5px;
}

.plan--content {
  flex-grow: 1;

  .single-price {
    margin-top: 1em;
    height: 50%;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .single-price--price {
    font-size: x-large;
  }

  .single-price--unit {
    font-size: x-small;
  }
}

.price-name {
  font-weight: 600;
  margin-bottom: 5px;
}

.plan-period {
  font-weight: 300;
  font-size: medium;
  margin-bottom: 1em;
}

.plan--bottom {
  margin-top: auto;
}

@media (min-width: 700px) {
  .plans--container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .plans--container {
    grid-template-columns: repeat(3, 1fr);
    /* padding-left: 30px;
      padding-right: 30px; */
  }
}

.price-operator {
  color: var(--muted-text-color);
}

.plans-title-section {
  display: flex;
  padding-bottom: 20px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */

  .plans-title {
    font-size: 2em;
    font-weight: 600;
    padding: 0.5em;
  }

  .plans-hint {
    text-align: center;
    font-size: 1.25em;
    font-weight: 300;
    color: var(--muted-text-color);
    transition: 0.9s ease-in;

    a {
      color: inherit;
    }

    a:hover {
      color: inherit;
      text-decoration: underline;
      text-decoration-thickness: 1%;
      text-underline-offset: 4px;
    }
  }
}
