# Authentication (use one of these)
MNEMONIC=
PRIVATE_KEY=

# RPC URLs
MAINNET_RPC_URL=
SEPOLIA_RPC_URL=

# API Keys
ETHERSCAN_API_KEY=

# Gas Reporter
REPORT_GAS=false

# ----------------------------------------------------------------------------
# ConfidentialWrapper deployment
# ----------------------------------------------------------------------------

NUM_CONFIDENTIAL_WRAPPERS=2

# Confidential Wrapper 1
CONFIDENTIAL_WRAPPER_NAME_0="Confidential Token Test 1"  # (string)
CONFIDENTIAL_WRAPPER_SYMBOL_0="cTEST1"  # (string)
CONFIDENTIAL_WRAPPER_CONTRACT_URI_0='data:application/json;utf8,{"name":"Confidential Token Test 1","symbol":"cTEST1","description":"Confidential wrapper of TEST1 shielding it into a confidential token"}'  # (string)
CONFIDENTIAL_WRAPPER_UNDERLYING_ADDRESS_0=0x0000111122223333444455556666777788889999  # (address)
CONFIDENTIAL_WRAPPER_OWNER_ADDRESS_0=0x70997970C51812dc3A010C7d01b50e0d17dc79C8  # accounts[1] (address)

# Confidential Wrapper 2
CONFIDENTIAL_WRAPPER_NAME_1="Confidential Token Test 2"  # (string)
CONFIDENTIAL_WRAPPER_SYMBOL_1="cTEST2"  # (string)
CONFIDENTIAL_WRAPPER_CONTRACT_URI_1='data:application/json;utf8,{"name":"Confidential Token Test 2","symbol":"cTEST2","description":"Confidential wrapper of TEST2 shielding it into a confidential token"}' # (string)
CONFIDENTIAL_WRAPPER_UNDERLYING_ADDRESS_1=0x0000111122223333444455556666777788889999  # (address)
CONFIDENTIAL_WRAPPER_OWNER_ADDRESS_1=0x3C44CdDdB6a900fa2b585dd299e03d12FA4293BC  # accounts[2] (address)
