[package]
name = "tfhe-compute-node"
version = "0.7.0"
default-run = "tfhe_compute_node"
authors.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
# workspace dependencies
alloy = { workspace = true }
bigdecimal = { workspace = true }
clap = { workspace = true }
hex = { workspace = true }
lru = { workspace = true }
prometheus = { workspace = true }
prost = { workspace = true }
rand = { workspace = true }
rayon = { workspace = true }
serde_json = { workspace = true }
sha3 = { workspace = true }
strum = { workspace = true }
sqlx = { workspace = true }
tfhe = { workspace = true }
tfhe-zk-pok = { workspace = true }
time = { workspace = true }
tokio = { workspace = true }
tokio-util = { workspace = true }
tonic = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
# opentelemetry support
opentelemetry = { workspace = true }
opentelemetry-otlp = { workspace = true }
opentelemetry_sdk = { workspace = true }
opentelemetry-semantic-conventions = { workspace = true }
chrono = { workspace = true }
serde = { workspace = true }

# crates.io dependencies
actix-web = "4.9.0"
itertools = "0.13.0"
lazy_static = "1.5.0"
regex = "1.10.6"
tonic-health = "0.12.3"
tonic-types = "0.12.3"
tonic-web = "0.12.3"
uuid = { version = "1", features = ["v4"] }

# local dependencies
fhevm-engine-common = { path = "../fhevm-engine-common" }
lapin = "3.7.2"
futures-util.workspace = true
redis = {version = "1.0.3", features = ["tokio-comp", "aio", "connection-manager"] }
postcard = { version = "1.1.3", features = ["alloc"] }
daggy.workspace = true
thiserror.workspace = true


[features]
nightly-avx512 = ["tfhe/nightly-avx512"]
gpu = ["tfhe/gpu", "fhevm-engine-common/gpu"]
bench = []
latency = ["fhevm-engine-common/latency"]
throughput = ["fhevm-engine-common/throughput"]

[dev-dependencies]
criterion = { version = "0.5.1", features = ["async_futures"] }
testcontainers = { workspace = true }
test-harness = { path = "../test-harness" }
serde = { workspace = true }
serial_test = { workspace = true }

[build-dependencies]
tonic-build = { workspace = true }

[[bin]]
name = "tfhe_compute_node"
path = "src/bin/tfhe_compute_node.rs"

