# Deployer account
PRIVATE_KEY=
# mainnet
MAINNET_RPC_URL=
RPC_URL_ZAMA_GATEWAY_MAINNET=
RPC_URL_BNB_MAINNET=
RPC_URL_HYPEREVM_MAINNET=
# testnet
SEPOLIA_RPC_URL=
RPC_URL_ZAMA_GATEWAY_TESTNET=
RPC_URL_BNB_TESTNET=
# API for contract verification
ETHERSCAN_API=TA5XXXXXXXXXXXXXXXXXXXXXXXXXXXGX9
BLOCKSCOUT_API=https://explorer-xxxx-xxxxxxx.conduit.xyz/api # don't forget the /api suffix at the end
# Addresses used as constructor args when deploying ZamaERC20.sol
NUM_INITIAL_RECEIVERS=1
INITIAL_RECEIVER_0=
INITIAL_AMOUNT_0=11_000_000_000 # in token unit, ie value of one correspond to a balance of 1e18
#INITIAL_RECEIVER_1=
#INITIAL_AMOUNT_1=
#INITIAL_RECEIVER_2=
#INITIAL_AMOUNT_2= # etc...
INITIAL_ADMIN=

# Environment Variable that can be used in hardhat tasks
ZAMAERC20_CONTRACT_ADDRESS=
ZAMAOFTADAPTER_CONTRACT_ADDRESS=
ZAMAOFT_CONTRACT_ADDRESS=
