[backend.hyperstack.single-h100]
environment_name = "canada"
image_name = "Ubuntu Server 22.04 LTS R535 CUDA 12.2"
flavor_name = "n3-H100x1"
user = "ubuntu"

[backend.hyperstack.l40]
environment_name = "canada"
image_name = "Ubuntu Server 22.04 LTS R535 CUDA 12.2"
flavor_name = "n3-L40x1"
user = "ubuntu"

[backend.hyperstack.2-h100]
environment_name = "canada"
image_name = "Ubuntu Server 22.04 LTS R535 CUDA 12.2"
flavor_name = "n3-H100x2"
user = "ubuntu"

[backend.hyperstack.4-h100]
environment_name = "canada"
image_name = "Ubuntu Server 22.04 LTS R535 CUDA 12.2"
flavor_name = "n3-H100x4"
user = "ubuntu"

[backend.hyperstack.multi-h100]
environment_name = "canada"
image_name = "Ubuntu Server 22.04 LTS R535 CUDA 12.2"
flavor_name = "n3-H100x8"
user = "ubuntu"

[backend.hyperstack.multi-h100-nvlink]
environment_name = "canada"
image_name = "Ubuntu Server 22.04 LTS R535 CUDA 12.2"
flavor_name = "n3-H100x8-NVLink"
user = "ubuntu"

[backend.hyperstack.multi-h100-sxm5]
environment_name = "canada"
image_name = "Ubuntu Server 22.04 LTS R535 CUDA 12.2"
flavor_name = "n3-H100-SXM5x8"
user = "ubuntu"

[backend.aws.bench]
region = "eu-west-1"
image_id = "ami-0b8fd02b263ebdcf4"
instance_type = "hpc7a.96xlarge"
user = "ubuntu"
