MNEMONIC="adapt mosquito move limb mobile illegal tree voyage juice mosquito burger raise father hope layer" # (string)
PRIVATE_KEY=
SEPOLIA_RPC_URL=
RPC_URL_ZAMA_GATEWAY_TESTNET=
BLOCKSCOUT_API=https://explorer-xxxx-xxxxxxx.conduit.xyz/api # don't forget the /api suffix at the end

# Env vars for AdminModule contract
ADMIN_ADDRESS="0x70997970C51812dc3A010C7d01b50e0d17dc79C8"  # accounts[1] (address)
SAFE_ADDRESS="0x248710870EE4c6B76F2d0D472638c79e619c14C7"  # (address)

# Env vars for transfer ownership task
MULTISEND_ADDRESS="0xDc64a140Aa3E981100a9becA4E685f962f0cF6C9"  # (address)

# Env var for the Safe contract
# This env var is used when the deployer is removed from the owners (after the new owners have been added)
SAFE_NEW_THRESHOLD=7