MNEMONIC="adapt mosquito move limb mobile illegal tree voyage juice mosquito burger raise father hope layer" # (string)
PRIVATE_KEY=
SEPOLIA_RPC_URL=
RPC_URL_ZAMA_GATEWAY_TESTNET=
BLOCKSCOUT_API=https://explorer-xxxx-xxxxxxx.conduit.xyz/api # don't forget the /api suffix at the end

# Env vars for AdminModule contract
ADMIN_ADDRESS="0x70997970C51812dc3A010C7d01b50e0d17dc79C8"  # accounts[1] (address)
SAFE_ADDRESS="0x248710870EE4c6B76F2d0D472638c79e619c14C7"  # (address)

# Env vars for transfer ownership task
MULTISEND_ADDRESS="0xDc64a140Aa3E981100a9becA4E685f962f0cF6C9"  # (address)

# Env var for the Safe contract
# These env var are used when ownership is transferred from the deployer ot the new owners

# New owners
# The number of new owners must be lower or equal to the number of new owners' address defined below
SAFE_NUM_NEW_OWNERS=10

# New owner 0 -> 9
SAFE_NEW_OWNER_ADDRESS_0="0x70997970C51812dc3A010C7d01b50e0d17dc79C8"  # accounts[1] (address)
SAFE_NEW_OWNER_ADDRESS_1="0x3C44CdDdB6a900fa2b585dd299e03d12FA4293BC"  # accounts[2] (address)
SAFE_NEW_OWNER_ADDRESS_2="0x90F79bf6EB2c4f870365E785982E1f101E93b906"  # accounts[3] (address)
SAFE_NEW_OWNER_ADDRESS_3="0x15d34AAf54267DB7D7c367839AAf71A00a2C6A65"  # accounts[4] (address)
SAFE_NEW_OWNER_ADDRESS_4="0x9965507D1a55bcC2695C58ba16FB37d819B0A4dc"  # accounts[5] (address)
SAFE_NEW_OWNER_ADDRESS_5="0x976EA74026E726554dB657fA54763abd0C3a0aa9"  # accounts[6] (address)
SAFE_NEW_OWNER_ADDRESS_6="0x14dC79964da2C08b23698B3D3cc7Ca32193d9955"  # accounts[7] (address)
SAFE_NEW_OWNER_ADDRESS_7="0x23618e81E3f5cdF7f54C3d65f7FBc0aBf5B21E8f"  # accounts[8] (address)
SAFE_NEW_OWNER_ADDRESS_8="0xa0Ee7A142d267C1f36714E4a8F75612F20a79720"  # accounts[9] (address)
SAFE_NEW_OWNER_ADDRESS_9="0xBcd4042DE499D14e55001CcbB24a551F3b954096"  # accounts[10] (address)

# New threshold
SAFE_NEW_THRESHOLD=7