[package]
name = "solana-listener"
version = "0.1.0"
edition = "2021"
license.workspace = true

[[bin]]
path = "src/bin/main.rs"
name = "solana_listener"
test = false
bench = false

[dependencies]
anyhow = { workspace = true }
async-trait = { workspace = true }
base64 = "0.22.1"
bs58 = "0.5.1"
clap = { workspace = true }
reqwest = { workspace = true }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
sqlx = { workspace = true }
time = { workspace = true }
tokio = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
hex = { workspace = true }

fhevm-engine-common = { path = "../fhevm-engine-common" }

[dev-dependencies]
reqwest = { workspace = true }
serial_test = { workspace = true }
solana-client = "2.2.1"
solana-sdk = "2.2.1"
testcontainers = { workspace = true }
tfhe-worker = { path = "../tfhe-worker" }
tonic = { workspace = true }
tfhe = { workspace = true }
