# Authentication (use one of these)
MNEMONIC=
PRIVATE_KEY=

# RPC URLs
MAINNET_RPC_URL=
SEPOLIA_RPC_URL=

# API Keys
ETHERSCAN_API_KEY=

# Gas Reporter
REPORT_GAS=false


# ----------------------------------------------------------------------------
# ConfidentialTokensRegistry initial configuration 
# ----------------------------------------------------------------------------

# The number of tokens to register initially
INITIAL_NUM_TOKENS=2

# Token and confidential token 1
INITIAL_TOKEN_ADDRESS_0=0x0000000000000000000000000000000000000001
INITIAL_CONFIDENTIAL_TOKEN_ADDRESS_0=0x0000000000000000000000000000000000000011

# Token and confidential token 2
INITIAL_TOKEN_ADDRESS_1=0x0000000000000000000000000000000000000002
INITIAL_CONFIDENTIAL_TOKEN_ADDRESS_1=0x0000000000000000000000000000000000000022