name: charts-helm-release

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions: {}

env:
  HELM_VERSION: v3.16.4
jobs:
  check-changes:
    name: charts-helm-release/check-changes
    permissions:
      actions: 'read'
      contents: 'read'
      pull-requests: 'read'
    runs-on: ubuntu-latest
    outputs:
      changes-charts: ${{ steps.filter.outputs.charts }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: 'false'
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36  # v3.0.2
        id: filter
        with:
          filters: |
            charts:
              - '.github/workflows/charts-helm-release.yml'
              - 'charts/**'
  release:
    needs: check-changes
    name: charts-helm-release/release
    if: ${{ needs.check-changes.outputs.changes-charts == 'true' }}
    permissions:
      contents: 'read'
      packages: 'write'
    runs-on: ubuntu-latest
    environment: main
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0
          persist-credentials: 'false'

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Login to GitHub Container Registry
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 #v3.3.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Install Helm
        uses: azure/setup-helm@fe7b79cd5ee1e45176fcad797de68ecaf3ca4814 #v4.2.0
        with:
          version: ${{ env.HELM_VERSION }}

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@d1e09fd16821c091b45aa754f65bae4dd675d425 # v1.6.0
        env:
          CR_TOKEN: ${{ secrets.GITHUB_TOKEN }}"
          CR_SKIP_EXISTING: true
          CR_SKIP_UPLOAD: true
          CR_GENERATE_RELEASE_NOTES: true
        # Needed as skip_upload will properly work only on future version of helm/chart-releaser-action
        continue-on-error: true
        with:
          charts_dir: charts

      - name: Push Charts to GHCR
        if: ${{ always() }}
        env:
          OCI_REGISTRY: "oci://ghcr.io/${{ github.repository }}/charts"
        run: |
          for pkg in .cr-release-packages/*; do
            if [ -z "${pkg:-}" ]; then
              break
            fi
            helm push "${pkg}" "${OCI_REGISTRY}"
          done
