name: coprocessor-cargo-listener-tests

on:
  pull_request:

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  check-changes:
    name: coprocessor-cargo-listener-tests/check-changes
    permissions:
      actions: 'read'
      contents: 'read'
      pull-requests: 'read'
    runs-on: ubuntu-latest
    outputs:
      changes-rust-files: ${{ steps.filter.outputs.rust-files }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: 'false'
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36  # v3.0.2
        id: filter
        with:
          filters: |
            rust-files:
              - .github/workflows/coprocessor-cargo-listener-tests.yml
              - host-contracts/contracts/*Events.sol
              - host-contracts/contracts/shared/**
  cargo-tests:
    name: coprocessor-cargo-listener-tests/cargo-tests (bpr)
    needs: check-changes
    if: ${{ needs.check-changes.outputs.changes-rust-files == 'true' }}
    permissions:
      contents: 'read'
      checks: 'write'
      packages: 'read'
    runs-on: large_ubuntu_16
    steps:
    - name: Checkout code
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        persist-credentials: 'false'
        lfs: true

    - name: Checkout LFS objects
      run: git lfs checkout

    - name: Setup Rust
      uses: dtolnay/rust-toolchain@a54c7afa936fefeb4456b2dd8068152669aa8203
      with:
        toolchain: stable

    - name: Install cargo dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y protobuf-compiler && \
        cargo install sqlx-cli

    - name: Install foundry
      uses: foundry-rs/foundry-toolchain@de808b1eea699e761c404bda44ba8f21aba30b2c

    - name: Cache cargo
      uses: actions/cache@1bd1e32a3bdc45362d1e726936510720a7c30a57 # v4.2.0
      with:
        path: |
          ~/.cargo/registry
          ~/.cargo/git
          target
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
        restore-keys: ${{ runner.os }}-cargo-

    - name: Login to GitHub Container Registry
      uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # v3.3.0
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Login to GitHub Chainguard Registry
      uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # v3.3.0
      with:
        registry: cgr.dev
        username: ${{ secrets.CGR_USERNAME }}
        password: ${{ secrets.CGR_PASSWORD }}

    - name: Init database
      run: make init_db
      working-directory: coprocessor/fhevm-engine/tfhe-worker

    - name: Use Node.js
      uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
      with:
        node-version: 20.x

    - name: Start localstack
      run: |
        docker run --rm -d -p 4566:4566 --name localstack localstack/localstack:latest

    - name: Run tests
      run: |
        DATABASE_URL=postgresql://postgres:postgres@localhost:5432/coprocessor TXN_SENDER_TEST_GLOBAL_LOCALSTACK=1 cargo test --release -- --test-threads=1
      working-directory: coprocessor/fhevm-engine/host-listener
