name: coprocessor-db-migration-docker-build
on:
  pull_request:
  push:
    branches:
      - main
  release:
    types:
      - published

concurrency:
  group: fhevm-coprocessor-db-migration-${{ github.ref_name }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  check-changes:
    name: coprocessor-db-migration-docker-build/check-changes
    permissions:
      actions: 'read'
      contents: 'read'
      pull-requests: 'read'
    runs-on: ubuntu-latest
    outputs:
      changes-coprocessor-db-migration: ${{ steps.filter.outputs.coprocessor-db-migration }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36  # v3.0.2
        id: filter
        with:
          filters: |
            coprocessor-db-migration:
              - .github/workflows/coprocessor-db-migration-docker-build.yml
              - coprocessor/fhevm-engine/db-migration/**
  build:
    name: coprocessor-db-migration-docker-build/build (bpr)
    needs: check-changes
    if: ${{ needs.check-changes.outputs.changes-coprocessor-db-migration == 'true' || github.event_name == 'release' }}
    uses: zama-ai/ci-templates/.github/workflows/common-docker.yml@0e191f066fcd7d361c406f99559c7bf0e9f0879b
    secrets:
      BLOCKCHAIN_ACTIONS_TOKEN: ${{ secrets.BLOCKCHAIN_ACTIONS_TOKEN }}
      AWS_ACCESS_KEY_S3_USER: ${{ secrets.AWS_ACCESS_KEY_S3_USER }}
      AWS_SECRET_KEY_S3_USER: ${{ secrets.AWS_SECRET_KEY_S3_USER }}
    permissions:
      actions: 'read'
      contents: 'read'
      pull-requests: 'read'
      attestations: 'write'
      packages: 'write'
      id-token: 'write'
    with:
      working-directory: "."
      docker-context: "."
      push_image: true
      image-name: "fhevm/coprocessor/db-migration"
      docker-file: "coprocessor/fhevm-engine/db-migration/Dockerfile"
      app-cache-dir: "fhevm-coprocessor-db-migration"
