name: Docker - Fhevm Coprocessor Gateway Listener

on:
  pull_request:
  push:
    branches:
      - main
  release:
    types:
      - published

concurrency:
  group: fhevm-coprocessor-gw-listener-${{ github.ref_name }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  check-changes:
    permissions:
      actions: 'read'
      contents: 'read'
      pull-requests: 'read'
    runs-on: ubuntu-latest
    outputs:
      changes-coprocessor-gw-listener: ${{ steps.filter.outputs.coprocessor-gw-listener }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36  # v3.0.2
        id: filter
        with:
          filters: |
            coprocessor-gw-listener:
              - .github/workflows/coprocessor-docker-build-gw-listener.yml
              - coprocessor/fhevm-engine/gw-listener/**
  docker-fhevm-coprocessor:
    needs: check-changes
    if: ${{ needs.check-changes.outputs.changes-coprocessor-gw-listener == 'true' || github.event_name == 'release' }}
    uses: zama-ai/ci-templates/.github/workflows/common-docker.yml@ef9d90453e0d776453026c751fbbd48e410d605a
    secrets:
      GHCR_ACTION_TOKEN: ${{ secrets.BLOCKCHAIN_ACTIONS_TOKEN }}
      GRAVITON_BUILDER_SSH_PRIVATE_KEY: ${{ secrets.GRAVITON_BUILDER_SSH_PRIVATE_KEY }}
    permissions:
      actions: 'read'
      contents: 'read'
      pull-requests: 'read'
      attestations: 'write'
      packages: 'write'
      id-token: 'write'
    with:
      working-directory: "."
      docker-context: "."
      push_image: true
      image-name: "fhevm/coprocessor/gw-listener"
      docker-file: "./coprocessor/fhevm-engine/gw-listener/Dockerfile"
      app-cache-dir: 'fhevm-coprocessor-gw-listener'