name: coprocessor-cargo-clippy

on:
  pull_request:

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  check-changes:
    name: coprocessor-cargo-clippy/check-changes
    permissions:
      actions: 'read'
      contents: 'read'
      pull-requests: 'read'
    runs-on: ubuntu-latest
    outputs:
      changes-rust-files: ${{ steps.filter.outputs.rust-files }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: 'false'
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36  # v3.0.2
        id: filter
        with:
          filters: |
            rust-files:
              - .github/workflows/coprocessor-cargo-clippy.yml
              - coprocessor/fhevm-engine/**
  cargo-clippy:
    name: coprocessor-cargo-clippy/cargo-clippy
    needs: check-changes
    if: ${{ needs.check-changes.outputs.changes-rust-files == 'true' }}
    permissions:
      contents: 'read'
      checks: 'write'
      packages: 'read'
    runs-on: large_ubuntu_16
    steps:
    - name: Checkout code
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        persist-credentials: 'false'
        lfs: true

    - name: Checkout LFS objects
      run: git lfs checkout

    - name: Setup Rust
      uses: dtolnay/rust-toolchain@a54c7afa936fefeb4456b2dd8068152669aa8203
      with:
        toolchain: 1.89.0
        components: clippy

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y protobuf-compiler

    - name: Install foundry
      uses: foundry-rs/foundry-toolchain@de808b1eea699e761c404bda44ba8f21aba30b2c

    - name: Cache cargo
      uses: actions/cache@1bd1e32a3bdc45362d1e726936510720a7c30a57 # v4.2.0
      with:
        path: |
          ~/.cargo/registry
          ~/.cargo/git
          target
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
        restore-keys: ${{ runner.os }}-cargo-

    - name: Use Node.js
      uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
      with:
        node-version: 20.x

    - name: Run clippy
      run: |
        # For now, only specify the `bench latency throughput` features as the
        # other ones require specific dependencies (e.g. GPU, etc.).
        SQLX_OFFLINE=true cargo clippy --all-targets --features "bench latency throughput" \
          -- -W clippy::perf -W clippy::suspicious -W clippy::style -D warnings
      working-directory: coprocessor/fhevm-engine
