name: gateway-contracts-docker-build

on:
  workflow_call:
    secrets:
      AWS_ACCESS_KEY_S3_USER:
        required: true
      AWS_SECRET_KEY_S3_USER:
        required: true
      BLOCKCHAIN_ACTIONS_TOKEN:
        required: true
      GHCR_READ_TOKEN:
        required: true
      CGR_USERNAME:
        required: true
      CGR_PASSWORD:
        required: true
    outputs:
      build_result:
        description: "Result of the build job of this workflow"
        value: ${{ jobs.build.result }}
  release:
    types:
      - published
  workflow_dispatch:
  push:
    branches:
      - main

permissions: {}

concurrency:
  group: gateway-contracts-docker-build-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check-changes:
    uses: ./.github/workflows/check-changes-for-docker-build.yml
    secrets:
      GHCR_READ_TOKEN: ${{ secrets.GHCR_READ_TOKEN }}
    permissions:
      actions: 'read' # Required to read workflow run information
      contents: 'read' # Required to checkout repository code
      pull-requests: 'read' # Required to read pull request information
    with:
      caller-workflow-event-name: ${{ github.event_name }}
      caller-workflow-event-before: ${{ github.event.before }}
      docker-image: fhevm/gateway-contracts
      filters: |
        gw-contracts:
          - .github/workflows/gateway-contracts-docker-build.yml
          - gateway-contracts/**

  build:
    needs: check-changes
    if: |
      needs.check-changes.outputs.changes == 'true'
      || github.event_name == 'release'
      || github.event_name == 'workflow_dispatch'
    uses: zama-ai/ci-templates/.github/workflows/common-docker.yml@3cf4c2b133947d29e7a313555638621f9ca0345c # v1.0.3
    secrets:
      AWS_ACCESS_KEY_S3_USER: ${{ secrets.AWS_ACCESS_KEY_S3_USER }}
      AWS_SECRET_KEY_S3_USER: ${{ secrets.AWS_SECRET_KEY_S3_USER }}
      BLOCKCHAIN_ACTIONS_TOKEN: ${{ secrets.BLOCKCHAIN_ACTIONS_TOKEN }}
    permissions:
      actions: 'read' # Required to read workflow run information
      contents: 'read' # Required to checkout repository code
      pull-requests: 'read' # Required to read pull request information
      attestations: 'write' # Required to create build attestations
      packages: 'write' # Required to publish Docker images
      id-token: 'write' # Required for OIDC authentication
    with:
      working-directory: "gateway-contracts"
      docker-context: "gateway-contracts"
      push_image: true
      image-name: "fhevm/gateway-contracts"
      docker-file: "./gateway-contracts/Dockerfile"
      app-cache-dir: "fhevm-gateway-contracts"

  re-tag-image:
    needs: check-changes
    if: |
      needs.check-changes.outputs.changes != 'true' && github.event_name == 'push'
    permissions:
      actions: 'read' # Required to read workflow run information
      contents: 'read' # Required to checkout repository code
      packages: 'write' # Required to publish Docker images
      id-token: 'write' # Required for OIDC authentication
    uses: ./.github/workflows/re-tag-docker-image.yml
    with:
      image-name: "fhevm/gateway-contracts"
      previous-tag-or-commit: ${{ needs.check-changes.outputs.base-commit }}
      new-tag-or-commit: ${{ github.event.after }}
