# Run hardhat tests
name: gateway-contracts-hardhat-tests

on:
  pull_request:

  push:
    branches:
      - main

permissions: {}

concurrency:
  group: ci-hardhat-tests-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  check-changes:
    name: gateway-contracts-hardhat-tests/check-changes
    permissions:
      actions: 'read'
      contents: 'read'
      pull-requests: 'read'
    runs-on: ubuntu-latest
    outputs:
      changes-gw-contracts: ${{ steps.filter.outputs.gw-contracts }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: 'false'
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36  # v3.0.2
        id: filter
        with:
          filters: |
            gw-contracts:
              - .github/workflows/gateway-contracts-hardhat-tests.yml
              - gateway-contracts/**
  tests:
    name: gateway-contracts-hardhat-tests/tests (bpr)
    needs: check-changes
    if: ${{ needs.check-changes.outputs.changes-gw-contracts == 'true' }}
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
    steps:
      - name: Checkout project
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: 'false'

      - name: Install dependencies
        working-directory: gateway-contracts
        run: npm ci

      - name: Run hardhat tests
        working-directory: gateway-contracts
        run: make test

      - name: Run coverage
        working-directory: gateway-contracts
        run: make coverage
