name: host-contracts-docker-build

on:
  pull_request:
  push:
    branches:
      - main
  release:
    types:
      - published

permissions: {}

concurrency:
  group: docker-fhevm-contracts-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  check-changes:
    name: host-contracts-docker-build/check-changes
    permissions:
      actions: 'read'
      contents: 'read'
      pull-requests: 'read'
    runs-on: ubuntu-latest
    outputs:
      changes-host-contracts: ${{ steps.filter.outputs.host-contracts }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: 'false'
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36  # v3.0.2
        id: filter
        with:
          filters: |
            host-contracts:
              - .github/workflows/host-contracts-docker-build.yml
              - host-contracts/**
  build:
    name: host-contracts-docker-build/build (bpr)
    needs: check-changes
    if: ${{ needs.check-changes.outputs.changes-host-contracts == 'true' || github.event_name == 'release' }}
    uses: zama-ai/ci-templates/.github/workflows/common-docker.yml@e666182756172bc747d2be6e4eb9b4ed80a00a0e
    secrets:
      AWS_ACCESS_KEY_S3_USER: ${{ secrets.AWS_ACCESS_KEY_S3_USER }}
      AWS_SECRET_KEY_S3_USER: ${{ secrets.AWS_SECRET_KEY_S3_USER }}
      BLOCKCHAIN_ACTIONS_TOKEN: ${{ secrets.BLOCKCHAIN_ACTIONS_TOKEN }}
    permissions:
      actions: 'read'
      contents: 'read'
      pull-requests: 'read'
      attestations: 'write'
      packages: 'write'
      id-token: 'write'
    with:
      working-directory: "host-contracts"
      docker-context: "host-contracts"
      push_image: true
      image-name: "fhevm/host-contracts"
      docker-file: "./host-contracts/Dockerfile"
      app-cache-dir: "fhevm-host-contracts"
