name: kms-connector-tx-sender-docker-build

on:
  pull_request:
  push:
    branches:
      - main
  release:
    types:
      - published

permissions: {}

concurrency:
  group: fhevm-kms-connector-tx-sender-${{ github.ref_name }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  check-changes:
    name: kms-connector-tx-sender-docker-build/check-changes
    permissions:
      actions: 'read' # Required to read workflow run information
      contents: 'read' # Required to checkout repository code
      pull-requests: 'read' # Required to read pull request information
    runs-on: ubuntu-latest
    outputs:
      changes-kms-connector-tx-sender: ${{ steps.filter.outputs.kms-connector-tx-sender }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: 'false'
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: filter
        with:
          filters: |
            kms-connector-tx-sender:
              - .github/workflows/kms-connector-tx-sender-docker-build.yml
              - kms-connector/crates/tx-sender/**
              - kms-connector/crates/utils/**
              - kms-connector/Cargo.toml
              - kms-connector/Cargo.lock

  build:
    name: kms-connector-tx-sender-docker-build/build
    needs: check-changes
    if: ${{ needs.check-changes.outputs.changes-kms-connector-tx-sender == 'true' || github.event_name == 'release' }}
    uses: zama-ai/ci-templates/.github/workflows/common-docker.yml@6c72e3dbc894744c1e228fb165f4c4d657e475b6  #  v1.0.1
    secrets:
      AWS_ACCESS_KEY_S3_USER: ${{ secrets.AWS_ACCESS_KEY_S3_USER }}
      AWS_SECRET_KEY_S3_USER: ${{ secrets.AWS_SECRET_KEY_S3_USER }}
      BLOCKCHAIN_ACTIONS_TOKEN: ${{ secrets.BLOCKCHAIN_ACTIONS_TOKEN }}
      CGR_USERNAME: ${{ secrets.CGR_USERNAME }}
      CGR_PASSWORD: ${{ secrets.CGR_PASSWORD }}
    permissions:
      actions: 'read' # Required to read workflow run information
      contents: 'read' # Required to checkout repository code
      pull-requests: 'read' # Required to read pull request information
      attestations: 'write' # Required to create build attestations
      packages: 'write' # Required to publish Docker images
      id-token: 'write' # Required for OIDC authentication
    with:
      use-cgr-secrets: true
      working-directory: "."
      docker-context: "."
      push_image: true
      image-name: "fhevm/kms-connector/tx-sender"
      docker-file: "./kms-connector/crates/tx-sender/Dockerfile"
      app-cache-dir: "fhevm-kms-connector-tx-sender"
