name: Run Testing On Big Instance
on:
  workflow_call:
    inputs:
      args-tests:
        type: string
        required: false
        default: ''
      working-directory:
        type: string
        required: true
      build-publish-docs:
        type: boolean
        required: false
        default: false
      run-minio:
        type: boolean
        required: false
        default: false
      run-redis:
        type: boolean
        required: false
        default: false
      run-wasm:
        type: boolean
        required: false
        default: false
      wasm-test-feature:
        type: string
        required: false
        default: '-F wasm_tests'
      package-name:
        type: string
        required: true
      test-coverage:
        type: boolean
        required: false
        default: false
      test-minimum-coverage:
        type: string
        required: false
        default: 0
      npm-release:
        type: boolean
        required: false
        default: false
      slab-backend:
        type: string
        required: false
        default: 'big-instance'
      app-cache-dir:
        type: string
        required: true
    secrets:
      SLAB_ACTION_TOKEN:
        required: true
      SLAB_BASE_URL:
        required: true
      JOB_SECRET:
        required: true
      BLOCKCHAIN_ACTIONS_TOKEN:
        required: true
      NPM_TOKEN:
        required: false
      AWS_ACCESS_KEY_S3_USER:
        required: true
      AWS_SECRET_KEY_S3_USER:
        required: true

env:
  CARGO_TERM_COLOR: always

jobs:
  start-runner:
    name: Start self-hosted EC2 runner
    runs-on: ubuntu-latest
    outputs:
      label: ${{ steps.start-ec2-runner.outputs.label }}
    steps:
      - name: Start EC2 runner
        id: start-ec2-runner
        uses: zama-ai/slab-github-runner@79939325c3c429837c10d6041e4fd8589d328bac # v1.4.1
        with:
          mode: start
          github-token: ${{ secrets.SLAB_ACTION_TOKEN }}
          slab-url: ${{ secrets.SLAB_BASE_URL }}
          job-secret: ${{ secrets.JOB_SECRET }}
          backend: aws
          profile: ${{ inputs.slab-backend }}

  run-build:
    needs: start-runner
    uses: ./.github/workflows/common-testing.yml
    secrets:
      BLOCKCHAIN_ACTIONS_TOKEN: ${{ secrets.BLOCKCHAIN_ACTIONS_TOKEN }}
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      AWS_ACCESS_KEY_S3_USER: ${{ secrets.AWS_ACCESS_KEY_S3_USER }}
      AWS_SECRET_KEY_S3_USER: ${{ secrets.AWS_SECRET_KEY_S3_USER }}
    with:
      runs-on: ${{ needs.start-runner.outputs.label }}
      build-publish-docs: ${{ inputs.build-publish-docs }}
      working-directory: ${{ inputs.working-directory }}
      args-tests: ${{ inputs.args-tests }}
      run-minio: ${{ inputs.run-minio }}
      run-redis: ${{ inputs.run-redis }}
      run-wasm: ${{ inputs.run-wasm }}
      package-name: ${{ inputs.package-name }}
      wasm-test-feature: ${{ inputs.wasm-test-feature }}
      test-coverage: ${{ inputs.test-coverage }}
      npm-release: ${{ inputs.npm-release }}
      app-cache-dir: ${{ inputs.app-cache-dir }}

  stop-runner:
    name: Stops self-hosted EC2 runner
    needs:
      - start-runner
      - run-build
    runs-on: ubuntu-latest
    if: ${{ always() }} # required to stop the runner even if the error happened in the previous jobs
    steps:
      - name: Stop EC2 runner
        uses: zama-ai/slab-github-runner@79939325c3c429837c10d6041e4fd8589d328bac # v1.4.1
        with:
          mode: stop
          github-token: ${{ secrets.SLAB_ACTION_TOKEN }}
          slab-url: ${{ secrets.SLAB_BASE_URL }}
          job-secret: ${{ secrets.JOB_SECRET }}
          label: ${{ needs.start-runner.outputs.label }}


