name: kms-connector-on-release-images

on:
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      ref:
        type: string
        description: 'Branch, tag or SHA to generate the Docker images from. (Default main)'
        required: false
        default: 'main'

jobs:
  docker-connector:
    name: kms-connector-on-release-images/docker-connector
    uses: ./.github/workflows/kms-connector-common-docker-big-instance.yml
    permissions:
      actions: 'read'
      contents: 'read'
      id-token: 'write'
      pull-requests: 'read'
      packages: 'write'
      attestations: write
    with:
      docker-file: './kms-connector/Dockerfile'
      working-directory: "./kms-connector"
      push_image: true
      image-name: 'fhevm/kms-connector'
      ref: ${{ inputs.ref || '' }}
      app-cache-dir: 'kms-connector'
    secrets:
      BLOCKCHAIN_ACTIONS_TOKEN: ${{ secrets.BLOCKCHAIN_ACTIONS_TOKEN }}
      SLAB_ACTION_TOKEN: ${{ secrets.SLAB_ACTION_TOKEN }}
      SLAB_BASE_URL: ${{ secrets.SLAB_BASE_URL }}
      JOB_SECRET: ${{ secrets.JOB_SECRET }}
      AWS_ACCESS_KEY_S3_USER: ${{ secrets.AWS_ACCESS_KEY_S3_USER }}
      AWS_SECRET_KEY_S3_USER: ${{ secrets.AWS_SECRET_KEY_S3_USER }}
