name: test-suite-e2e-operators-tests

# Github does not support more than 10 inputs for workflow_dispatch:
# https://docs.github.com/en/actions/reference/events-that-trigger-workflows#providing-inputs
# Core, relayer and test-suite will use the default versions defined in the `fhevm-cli` script
on:
  workflow_dispatch:
    inputs:
      connector_version:
        description: "Connector Version"
        default: ""
        type: string
      db_migration_version:
        description: "Coprocessor DB Migration Image Version"
        default: ""
        type: string
      host_version:
        description: "Host Image Version"
        default: ""
        type: string
      gateway_version:
        description: "Gateway Image Version"
        required: false
        default: ""
        type: string
      host_listener_version:
        description: "Host Listener Image Version"
        default: ""
        type: string
      gateway_listener_version:
        description: "Gateway Listener Image Version"
        default: ""
        type: string
      tx_sender_version:
        description: "Transaction Sender Image Version"
        default: ""
        type: string
      tfhe_worker_version:
        description: "TFHE Worker Image Version"
        default: ""
        type: string
      sns_worker_version:
        description: "SNS Worker Image Version"
        default: ""
        type: string
      zkproof_worker_version:
        description: "ZKProof Worker Image Version"
        default: ""
        type: string

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  setup-instance:
    name: test-suite-e2e-operators-tests/setup-instance
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
    outputs:
      runner-name: ${{ steps.start-remote-instance.outputs.label }}
    steps:
      - name: Start remote instance
        id: start-remote-instance
        uses: zama-ai/slab-github-runner@79939325c3c429837c10d6041e4fd8589d328bac
        with:
          mode: start
          github-token: ${{ secrets.SLAB_ACTION_TOKEN }}
          slab-url: ${{ secrets.SLAB_BASE_URL }}
          job-secret: ${{ secrets.JOB_SECRET }}
          backend: aws
          profile: bench

  operators-e2e-test:
    name: test-suite-e2e-operators-tests/operators-e2e-test
    if: ${{ github.event_name == 'workflow_dispatch' }}
    permissions:
      contents: 'read'
      id-token: 'write'
      packages: 'read'
    runs-on: ${{ needs.setup-instance.outputs.runner-name }}
    needs: setup-instance
    timeout-minutes: 1440
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: 'false'

      - name: Setup Docker
        uses: docker/setup-buildx-action@d70bba72b1f3fd22344832f00baa16ece964efeb # v3.3.0

      - name: Login to GitHub Container Registry
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # v3.3.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_READ_TOKEN }}

      - name: Deploy fhevm Stack
        working-directory: test-suite/fhevm
        env:
          CONNECTOR_DB_MIGRATION_VERSION: ${{ inputs.connector_version }}
          CONNECTOR_GW_LISTENER_VERSION: ${{ inputs.connector_version }}
          CONNECTOR_KMS_WORKER_VERSION: ${{ inputs.connector_version }}
          CONNECTOR_TX_SENDER_VERSION: ${{ inputs.connector_version }}
          DB_MIGRATION_VERSION: ${{ inputs.db_migration_version }}
          HOST_VERSION: ${{ inputs.host_version }}
          GATEWAY_VERSION: ${{ inputs.gateway_version }}
          HOST_LISTENER_VERSION: ${{ inputs.host_listener_version }}
          GW_LISTENER_VERSION: ${{ inputs.gateway_listener_version }}
          TX_SENDER_VERSION: ${{ inputs.tx_sender_version }}
          TFHE_WORKER_VERSION: ${{ inputs.tfhe_worker_version }}
          SNS_WORKER_VERSION: ${{ inputs.sns_worker_version }}
          ZKPROOF_WORKER_VERSION: ${{ inputs.zkproof_worker_version }}
        run: |
          ./fhevm-cli deploy

      - name: All operators tests
        working-directory: test-suite/fhevm
        run: |
          ./fhevm-cli test operators

      - name: Random operators tests
        working-directory: test-suite/fhevm
        run: |
          ./fhevm-cli test random

      - name: Show logs on test failure
        working-directory: test-suite/fhevm
        if: always()
        run: |
          echo "::group::Relayer Logs"
          ./fhevm-cli logs relayer
          echo "::endgroup::"
          echo "::group::SNS Worker Logs"
          ./fhevm-cli logs sns-worker | grep -v "Selected 0 rows to process"
          echo "::endgroup::"
          echo "::group::Transaction Sender Logs (filtered)"
          ./fhevm-cli logs transaction-sender | grep -v "Selected 0 rows to process"
          echo "::endgroup::"

      - name: Cleanup
        working-directory: test-suite/fhevm
        if: always()
        run: |
          ./fhevm-cli clean

  teardown-instance:
    name: test-suite-e2e-operators-tests/teardown
    if: ${{ always() && needs.setup-instance.result == 'success' }}
    needs: [ setup-instance, operators-e2e-test]
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
    steps:
      - name: Stop remote instance
        id: stop-instance
        uses: zama-ai/slab-github-runner@79939325c3c429837c10d6041e4fd8589d328bac
        with:
          mode: stop
          github-token: ${{ secrets.SLAB_ACTION_TOKEN }}
          slab-url: ${{ secrets.SLAB_BASE_URL }}
          job-secret: ${{ secrets.JOB_SECRET }}
          label: ${{ needs.setup-instance.outputs.runner-name }}
