name: test-suite-docker-build

on:
  pull_request:
  push:
    branches:
      - main
  release:
    types:
      - published

permissions: {}

concurrency:
  group: test-suite-e2e-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  check-changes:
    name: test-suite-docker-build/check-changes
    permissions:
      actions: 'read'
      contents: 'read'
      pull-requests: 'read'
    runs-on: ubuntu-latest
    outputs:
      changes-e2e-docker: ${{ steps.filter.outputs.e2e-docker }}
      changes-benchmarks-docker: ${{ steps.filter.outputs.benchmarks-docker }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36  # v3.0.2
        id: filter
        with:
          filters: |
            e2e-docker:
              - '.github/workflows/test-suite-docker-build.yml'
              - 'test-suite/e2e/**'
            benchmarks-docker:
              - '.github/workflows/test-suite-docker-build.yml'
              - 'test-suite/benchmarks/**'
  docker-e2e-image:
    name: test-suite-docker-build/docker-e2e-image (bpr)
    needs: check-changes
    if: ${{ needs.check-changes.outputs.changes-e2e-docker == 'true' || github.event_name == 'release' }}
    uses: zama-ai/ci-templates/.github/workflows/common-docker.yml@e666182756172bc747d2be6e4eb9b4ed80a00a0e
    secrets:
      AWS_ACCESS_KEY_S3_USER: ${{ secrets.AWS_ACCESS_KEY_S3_USER }}
      AWS_SECRET_KEY_S3_USER: ${{ secrets.AWS_SECRET_KEY_S3_USER }}
      BLOCKCHAIN_ACTIONS_TOKEN: ${{ secrets.BLOCKCHAIN_ACTIONS_TOKEN }}
    permissions:
      actions: 'read'
      contents: 'read'
      pull-requests: 'read'
      attestations: 'write'
      packages: 'write'
      id-token: 'write'
    with:
      working-directory: "."
      docker-context: "."
      push_image: true
      image-name: "fhevm/test-suite/e2e"
      docker-file: "./test-suite/e2e/Dockerfile"
      app-cache-dir: "fhevm-test-suite-e2e"
  docker-benchmarks-image:
    name: test-suite-docker-build/docker-benchmarks-image (bpr)
    needs: check-changes
    if: ${{ needs.check-changes.outputs.changes-benchmarks-docker == 'true' || github.event_name == 'release' }}
    uses: zama-ai/ci-templates/.github/workflows/common-docker.yml@e666182756172bc747d2be6e4eb9b4ed80a00a0e
    secrets:
      AWS_ACCESS_KEY_S3_USER: ${{ secrets.AWS_ACCESS_KEY_S3_USER }}
      AWS_SECRET_KEY_S3_USER: ${{ secrets.AWS_SECRET_KEY_S3_USER }}
      BLOCKCHAIN_ACTIONS_TOKEN: ${{ secrets.BLOCKCHAIN_ACTIONS_TOKEN }}
    permissions:
      actions: 'read'
      contents: 'read'
      pull-requests: 'read'
      attestations: 'write'
      packages: 'write'
      id-token: 'write'
    with:
      working-directory: "."
      docker-context: "."
      push_image: true
      image-name: "fhevm/test-suite/benchmarks"
      docker-file: "./test-suite/benchmarks/Dockerfile"
      app-cache-dir: "fhevm-test-suite-benchmarks"
