name: Test Suite E2E Operators

on:
  workflow_dispatch:
    inputs:
      core_version:
        description: "KMS Core Version"
        default: ""
        type: string
      connector_version:
        description: "Connector Version"
        default: ""
        type: string
      coprocessor_version:
        description: "Coprocessor Image Version"
        default: ""
        type: string
      db_migration_version:
        description: "Coprocessor DB Migration Image Version"
        default: ""
        type: string
      host_version:
        description: "Host Image Version"
        default: ""
        type: string
      gateway_version:
        description: "Gateway Image Version"
        required: false
        default: ""
        type: string
      relayer_version:
        description: "Relayer Image Version"
        default: ""
        type: string
      test_suite_version:
        description: "Test Suite E2E Image Version"
        default: ""
        type: string

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  setup-instance:
    name: Setup instance (operators-e2e-test)
    runs-on: ubuntu-latest
    permissions:
      contents: read
    outputs:
      runner-name: ${{ steps.start-remote-instance.outputs.label }}
    steps:
      - name: Start remote instance
        id: start-remote-instance
        uses: zama-ai/slab-github-runner@79939325c3c429837c10d6041e4fd8589d328bac
        with:
          mode: start
          github-token: ${{ secrets.SLAB_ACTION_TOKEN }}
          slab-url: ${{ secrets.SLAB_BASE_URL }}
          job-secret: ${{ secrets.JOB_SECRET }}
          backend: aws
          profile: bench

  operators-e2e-test:
    name: Operators tests e2e
    if: ${{ github.event_name == 'workflow_dispatch' }}
    permissions:
      contents: "read"
      id-token: "write"
      packages: "read"
    runs-on: ${{ needs.setup-instance.outputs.runner-name }}
    needs: setup-instance
    timeout-minutes: 1440
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup Docker
        uses: docker/setup-buildx-action@d70bba72b1f3fd22344832f00baa16ece964efeb # v3.3.0

      - name: Login to GitHub Container Registry
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # v3.3.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_READ_TOKEN }}

      - name: Deploy fhevm Stack
        working-directory: test-suite/fhevm
        env:
          CORE_VERSION: ${{ inputs.core_version }}
          CONNECTOR_VERSION: ${{ inputs.connector_version }}
          COPROCESSOR_VERSION: ${{ inputs.coprocessor_version }}
          DB_MIGRATION_VERSION: ${{ inputs.db_migration_version }}
          HOST_VERSION: ${{ inputs.host_version }}
          GATEWAY_VERSION: ${{ inputs.gateway_version }}
          RELAYER_VERSION: ${{ inputs.relayer_version }}
          TEST_SUITE_VERSION: ${{ inputs.test_suite_version }}
        run: |
          ./fhevm-cli deploy

      - name: All operators tests
        working-directory: test-suite/fhevm
        run: |
          ./fhevm-cli test operators

      - name: Extra operators tests
        working-directory: test-suite/fhevm
        run: |
          ./fhevm-cli test extra-operators

      - name: Show logs on test failure
        working-directory: test-suite/fhevm
        if: always()
        run: |
          echo "::group::Relayer Logs"
          ./fhevm-cli logs relayer
          echo "::endgroup::"
          echo "::group::SNS Worker Logs"
          ./fhevm-cli logs sns-worker | grep -v "Selected 0 rows to process"
          echo "::endgroup::"
          echo "::group::Transaction Sender Logs (filtered)"
          ./fhevm-cli logs transaction-sender | grep -v "Selected 0 rows to process"
          echo "::endgroup::"

      - name: Cleanup
        working-directory: test-suite/fhevm
        if: always()
        run: |
          ./fhevm-cli clean

  teardown-instance:
    name: Teardown instance (operators-e2e-test)
    if: ${{ always() && needs.setup-instance.result == 'success' }}
    needs: [ setup-instance, operators-e2e-test]
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Stop remote instance
        id: stop-instance
        uses: zama-ai/slab-github-runner@79939325c3c429837c10d6041e4fd8589d328bac
        with:
          mode: stop
          github-token: ${{ secrets.SLAB_ACTION_TOKEN }}
          slab-url: ${{ secrets.SLAB_BASE_URL }}
          job-secret: ${{ secrets.JOB_SECRET }}
          label: ${{ needs.setup-instance.outputs.runner-name }}