name: test-suite-multicoproc-smoke

on:
  workflow_dispatch:

permissions: {}

jobs:
  multicoproc-smoke:
    permissions:
      contents: read
      id-token: write
      packages: read
    runs-on: large_ubuntu_32
    strategy:
      fail-fast: false
      matrix:
        profile: [multi-2-2, multi-5-3]

    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: 'false'

      - name: Setup Docker
        uses: docker/setup-buildx-action@d70bba72b1f3fd22344832f00baa16ece964efeb # v3.3.0

      - name: Login to GitHub Container Registry
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # v3.3.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_READ_TOKEN }}

      - name: Login to Chainguard Registry
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # v3.3.0
        with:
          registry: cgr.dev
          username: ${{ secrets.CGR_USERNAME }}
          password: ${{ secrets.CGR_PASSWORD }}

      - name: Run multicoproc smoke (${{ matrix.profile }})
        working-directory: test-suite/fhevm
        run: |
          ./fhevm-cli smoke ${{ matrix.profile }}

      - name: Show logs on failure
        working-directory: test-suite/fhevm
        if: failure()
        run: |
          echo "::group::Relayer Logs"
          ./fhevm-cli logs fhevm-relayer
          echo "::endgroup::"
          echo "::group::SNS Worker Logs"
          ./fhevm-cli logs coprocessor-sns-worker | grep -v "Selected 0 rows to process"
          echo "::endgroup::"
          echo "::group::Gateway Listener"
          ./fhevm-cli logs coprocessor-gw-listener
          echo "::endgroup::"

      - name: Cleanup
        working-directory: test-suite/fhevm
        if: always()
        run: |
          ./fhevm-cli clean
